# 추가 데이터 수집
- https://www.localdata.go.kr/devcenter/dataDown.do?menuNo=20001
- 서울특별시 데이터 다운로드
- 기준일 : 최초 인허가 ~ 2025-7-31
- 필수 확인 데이터 : 목욕장업, 종합체육시설업, 세탁업, 의료기관세탁물처리업
- 추가 확인 데이터 : 관광숙박업, 관광펜션업, 숙박업, 외국인관광도시민박업, 일반야영장업, 농어촌민박업, 미용업, 이용업, 위탁급식영업, 집단급식소,, 등 확인필요

In [40]:
'''
import glob

file_list = glob.glob('../data/raw/add/6110000_CSV/*')
[file for file in file_list if file.endswith('csv')]
'''

"\nimport glob\n\nfile_list = glob.glob('../data/raw/add/6110000_CSV/*')\n[file for file in file_list if file.endswith('csv')]\n"

In [41]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

## 1. 목욕장업 인허가 데이터
 
- 대중목욕탕, 찜질방, 사우나 등 물로 목욕 할 수 있거나 맥반석ㆍ황토 등에게 발생되는 열기 또는 원적외선 등을 이용하여 땀을 낼 수 있는 시설 및 설비 등의 서비스를 제공하는 업소정보
- '6110000_서울특별시_11_44_01_P_목욕장업.csv'

In [87]:
data = pd.read_csv('../data/raw/add/6110000_CSV/6110000_서울특별시_11_44_01_P_목욕장업.csv', encoding='cp949')
data

,번호,개방서비스명,개방서비스아이디,개방자치단체코드,관리번호,인허가일자,인허가취소일자,영업상태구분코드,영업상태명,상세영업상태코드,...,욕실수,발한실여부,조건부허가신고사유,조건부허가시작일자,조건부허가종료일자,건물소유구분명,여성종사자수,남성종사자수,다중이용업소여부,Unnamed: 44
0,1,목욕장업,11_44_01_P,3000000,3000000-202-2019-00001,2019-08-22,NaN,1,영업/정상,1,...,0.0,N,NaN,NaN,NaN,NaN,0.0,0.0,N,NaN
1,2,목욕장업,11_44_01_P,3000000,3000000-202-2024-00001,2024-07-22,NaN,1,영업/정상,1,...,8.0,Y,NaN,NaN,NaN,자가,0.0,0.0,N,NaN
2,3,목욕장업,11_44_01_P,3000000,3000000-202-1970-00392,1970-10-07,NaN,1,영업/정상,1,...,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN
3,4,목욕장업,11_44_01_P,3000000,3000000-202-1963-00410,1963-06-13,NaN,1,영업/정상,1,...,0.0,N,NaN,NaN,NaN,NaN,0.0,0.0,N,NaN
4,5,목욕장업,11_44_01_P,3000000,3000000-202-2003-00009,2003-10-13,NaN,1,영업/정상,1,...,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3945,3946,목욕장업,11_44_01_P,3240000,3240000-202-1988-00234,1988-02-17,NaN,3,폐업,2,...,0.0,N,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN
3946,3947,목욕장업,11_44_01_P,3240000,3240000-202-1987-00274,1987-12-11,NaN,3,폐업,2,...,0.0,N,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN
3947,3948,목욕장업,11_44_01_P,3240000,3240000-202-1994-00263,1994-09-16,NaN,3,폐업,2,...,2.0,Y,NaN,NaN,NaN,임대,NaN,NaN,N,NaN
3948,3949,목욕장업,11_44_01_P,3240000,3240000-202-1983-00202,1983-12-22,NaN,3,폐업,2,...,2.0,Y,NaN,NaN,NaN,임대,NaN,NaN,N,NaN
3949,3950,목욕장업,11_44_01_P,3240000,3240000-202-2018-00002,2018-08-16,NaN,3,폐업,2,...,6.0,N,NaN,NaN,NaN,자가,0.0,0.0,N,NaN

In [88]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3950 entries, 0 to 3949
Data columns (total 45 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   번호               3950 non-null   int64
 1   개방서비스명           3950 non-null   object
 2   개방서비스아이디         3950 non-null   object
 3   개방자치단체코드         3950 non-null   int64
 4   관리번호             3950 non-null   object
 5   인허가일자            3950 non-null   object
 6   인허가취소일자          0 non-null      float64
 7   영업상태구분코드         3950 non-null   int64
 8   영업상태명            3950 non-null   object
 9   상세영업상태코드         3950 non-null   int64
 10  상세영업상태명          3950 non-null   object
 11  폐업일자             3285 non-null   object
 12  휴업시작일자           0 non-null      float64
 13  휴업종료일자           0 non-null      float64
 14  재개업일자            0 non-null      float64
 15  소재지전화            3671 non-null   object
 16  소재지면적            3946 non-null   float64
 17  소재지우편번호          3945 non-null   object
 18  소재지전체주소          3945 non-null   object
 19  도로명전체주소          1501 non-null   object
 20  도로명우편번호          1451 non-null   float64
 21  사업장명             3950 non-null   object
 22  최종수정시점           3950 non-null   object
 23  데이터갱신구분          3950 non-null   object
 24  데이터갱신일자          3950 non-null   object
 25  업태구분명            3950 non-null   object
 26  좌표정보x(epsg5174)  3462 non-null   float64
 27  좌표정보y(epsg5174)  3462 non-null   float64
 28  위생업태명            3950 non-null   object
 29  건물지상층수           3016 non-null   float64
 30  건물지하층수           2878 non-null   float64
 31  사용시작지상층          2644 non-null   float64
 32  사용끝지상층           1550 non-null   float64
 33  사용시작지하층          2558 non-null   float64
 34  사용끝지하층           1441 non-null   float64
 35  욕실수              2840 non-null   float64
 36  발한실여부            3949 non-null   object
 37  조건부허가신고사유        5 non-null      object
 38  조건부허가시작일자        3 non-null      float64
 39  조건부허가종료일자        3 non-null      float64
 40  건물소유구분명          833 non-null    object
 41  여성종사자수           663 non-null    float64
 42  남성종사자수           663 non-null    float64
 43  다중이용업소여부         3950 non-null   object
 44  Unnamed: 44      0 non-null      float64
dtypes: float64(20), int64(4), object(21)
memory usage: 1.4+ MB

In [89]:
data.columns

Index(['번호', '개방서비스명', '개방서비스아이디', '개방자치단체코드', '관리번호', '인허가일자', '인허가취소일자',
       '영업상태구분코드', '영업상태명', '상세영업상태코드', '상세영업상태명', '폐업일자', '휴업시작일자', '휴업종료일자',
       '재개업일자', '소재지전화', '소재지면적', '소재지우편번호', '소재지전체주소', '도로명전체주소', '도로명우편번호',
       '사업장명', '최종수정시점', '데이터갱신구분', '데이터갱신일자', '업태구분명', '좌표정보x(epsg5174)',
       '좌표정보y(epsg5174)', '위생업태명', '건물지상층수', '건물지하층수', '사용시작지상층', '사용끝지상층',
       '사용시작지하층', '사용끝지하층', '욕실수', '발한실여부', '조건부허가신고사유', '조건부허가시작일자',
       '조건부허가종료일자', '건물소유구분명', '여성종사자수', '남성종사자수', '다중이용업소여부', 'Unnamed: 44'],
      dtype='object')

In [90]:
data['영업상태구분코드'].value_counts()

영업상태구분코드
3    3285
1     665
Name: count, dtype: int64

In [91]:
data['상세영업상태명'].value_counts()

상세영업상태명
폐업    3285
영업     665
Name: count, dtype: int64

In [92]:
data['영업상태명'].value_counts()

영업상태명
폐업       3285
영업/정상     665
Name: count, dtype: int64

In [93]:
data['위생업태명'].value_counts() # 삭제해도 될듯

위생업태명
공동탕업              3187
공동탕업+찜질시설서비스영업     336
목욕장업 기타            168
한증막업               164
찜질시설서비스영업           95
Name: count, dtype: int64

In [94]:
data['업태구분명'].value_counts()

업태구분명
공동탕업              3187
공동탕업+찜질시설서비스영업     336
목욕장업 기타            168
한증막업               164
찜질시설서비스영업           95
Name: count, dtype: int64

In [ ]:
### 컬럼 제거 ###
# info 정보 기준 널값이 대다수인 경우 + 불필요한 컬럼('위생업태명', '소재지전화', ...)
# 우편번호는 상세주소 있으므로 제거
# 겹치는 정보 제거 : '영업상태구분코드', '상세영업상태코드', '영업상태명'
'''
'번호', '영업상태구분코드', '상세영업상태코드', '영업상태명', '인허가일자', '인허가취소일자', '휴업시작일자', '휴업종료일자', '재개업일자', '소재지전화', 
'소재지우편번호', '도로명우편번호', '건물지상층수', '건물지하층수', '사용시작지상층', '사용끝지상층', '사용시작지하층', 
'사용끝지하층','조건부허가신고사유', '조건부허가시작일자', '조건부허가종료일자', '건물소유구분명', 'Unnamed: 44', '위생업태명'
'''

data = data.drop(columns=['번호', '영업상태구분코드', '상세영업상태코드', '영업상태명', '인허가일자','인허가취소일자', 
                          '휴업시작일자', '휴업종료일자', '재개업일자', '소재지전화', '소재지우편번호', '도로명우편번호', 
                          '건물지상층수', '건물지하층수', '사용시작지상층', '사용끝지상층', '사용시작지하층', '사용끝지하층',
                          '조건부허가신고사유', '조건부허가시작일자', '조건부허가종료일자', '건물소유구분명', 
                          'Unnamed: 44', '위생업태명'], 
                 axis=1)

data.columns

Index(['개방서비스명', '개방서비스아이디', '개방자치단체코드', '관리번호', '상세영업상태명', '폐업일자', '소재지면적',
       '소재지전체주소', '도로명전체주소', '사업장명', '최종수정시점', '데이터갱신구분', '데이터갱신일자', '업태구분명',
       '좌표정보x(epsg5174)', '좌표정보y(epsg5174)', '욕실수', '발한실여부', '여성종사자수',
       '남성종사자수', '다중이용업소여부'],
      dtype='object')

In [96]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3950 entries, 0 to 3949
Data columns (total 21 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   개방서비스명           3950 non-null   object
 1   개방서비스아이디         3950 non-null   object
 2   개방자치단체코드         3950 non-null   int64
 3   관리번호             3950 non-null   object
 4   상세영업상태명          3950 non-null   object
 5   폐업일자             3285 non-null   object
 6   소재지면적            3946 non-null   float64
 7   소재지전체주소          3945 non-null   object
 8   도로명전체주소          1501 non-null   object
 9   사업장명             3950 non-null   object
 10  최종수정시점           3950 non-null   object
 11  데이터갱신구분          3950 non-null   object
 12  데이터갱신일자          3950 non-null   object
 13  업태구분명            3950 non-null   object
 14  좌표정보x(epsg5174)  3462 non-null   float64
 15  좌표정보y(epsg5174)  3462 non-null   float64
 16  욕실수              2840 non-null   float64
 17  발한실여부            3949 non-null   object
 18  여성종사자수           663 non-null    float64
 19  남성종사자수           663 non-null    float64
 20  다중이용업소여부         3950 non-null   object
dtypes: float64(6), int64(1), object(14)
memory usage: 648.2+ KB

In [97]:
data['폐업일자'] = pd.to_datetime(data['폐업일자'], errors='coerce')

# 폐업일자가 있고 & 2017-01-01 이전인 경우 제거
mask_drop = data['폐업일자'].notna() & (data['폐업일자'] < pd.Timestamp('2017-01-01'))

data = data[~mask_drop]
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1207 entries, 0 to 3949
Data columns (total 21 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   개방서비스명           1207 non-null   object
 1   개방서비스아이디         1207 non-null   object
 2   개방자치단체코드         1207 non-null   int64
 3   관리번호             1207 non-null   object
 4   상세영업상태명          1207 non-null   object
 5   폐업일자             542 non-null    datetime64[ns]
 6   소재지면적            1207 non-null   float64
 7   소재지전체주소          1202 non-null   object
 8   도로명전체주소          1205 non-null   object
 9   사업장명             1207 non-null   object
 10  최종수정시점           1207 non-null   object
 11  데이터갱신구분          1207 non-null   object
 12  데이터갱신일자          1207 non-null   object
 13  업태구분명            1207 non-null   object
 14  좌표정보x(epsg5174)  1192 non-null   float64
 15  좌표정보y(epsg5174)  1192 non-null   float64
 16  욕실수              1049 non-null   float64
 17  발한실여부            1207 non-null   object
 18  여성종사자수           661 non-null    float64
 19  남성종사자수           661 non-null    float64
 20  다중이용업소여부         1207 non-null   object
dtypes: datetime64[ns](1), float64(6), int64(1), object(13)
memory usage: 207.5+ KB

In [98]:
### 소재지전체주소, 도로명전체주소 상호보완 ###
# '소재지전체주소'의 NaN 값을 '도로명전체주소' 값으로 채우기
data['소재지전체주소'] = data['소재지전체주소'].fillna(data['도로명전체주소'])

# '도로명전체주소'의 NaN 값을 '소재지전체주소' 값으로 채우기
data['도로명전체주소'] = data['도로명전체주소'].fillna(data['소재지전체주소'])

data.isna().sum()

개방서비스명               0
개방서비스아이디             0
개방자치단체코드             0
관리번호                 0
상세영업상태명              0
폐업일자               665
소재지면적                0
소재지전체주소              0
도로명전체주소              0
사업장명                 0
최종수정시점               0
데이터갱신구분              0
데이터갱신일자              0
업태구분명                0
좌표정보x(epsg5174)     15
좌표정보y(epsg5174)     15
욕실수                158
발한실여부                0
여성종사자수             546
남성종사자수             546
다중이용업소여부             0
dtype: int64

In [99]:
### 소재지전체주소, 도로명전체주소 패턴 파악결과 공백 기준 4번째까지가 건물 주소임, 그 이후는 상세라서 4번째 까지만 인덱싱 ###
# 소재지전체주소
data['소재지전체주소'] = data['소재지전체주소'].str.split().str[:4].str.join(' ')

# 도로명전체주소
data['도로명전체주소'] = data['도로명전체주소'].str.split().str[:4].str.join(' ')

data[['소재지전체주소', '도로명전체주소']]

                     소재지전체주소               도로명전체주소
0      서울특별시 종로구 원남동 49-17번지    서울특별시 종로구 율곡로 180,
1       서울특별시 종로구 창신동 328-18     서울특별시 종로구 지봉로 19,
2      서울특별시 종로구 통인동 147-4번지   서울특별시 종로구 자하문로 35-6
3        서울특별시 종로구 창신동 578-1      서울특별시 종로구 창신길 22
4       서울특별시 종로구 관훈동 197-28    서울특별시 종로구 인사동7길 12
...                      ...                   ...
3896   서울특별시 강동구 천호동 410-105     서울특별시 강동구 진황도로 18
3911  서울특별시 강동구 암사동 421-23번지  서울특별시 강동구 구천면로 371-5
3912  서울특별시 강동구 암사동 514-55번지    서울특별시 강동구 상암로4길 52
3941     서울특별시 강동구 성내동 549-4      서울특별시 강동구 성내로 52
3949  서울특별시 강동구 성내동 127-25번지    서울특별시 강동구 천호옛8길 11

[1207 rows x 2 columns]

In [100]:
### 주소 뒤에 ',' 있는 값들 ',' 기준으로 뒤에 제거 + ',' 제거
# ',' 뒤의 정보 제거 + 공백 제거까지 포함
data['소재지전체주소'] = data['소재지전체주소'].str.split(',').str.get(0).str.strip()
data['도로명전체주소'] = data['도로명전체주소'].str.split(',').str.get(0).str.strip()

data[['소재지전체주소', '도로명전체주소']]

                     소재지전체주소               도로명전체주소
0      서울특별시 종로구 원남동 49-17번지     서울특별시 종로구 율곡로 180
1       서울특별시 종로구 창신동 328-18      서울특별시 종로구 지봉로 19
2      서울특별시 종로구 통인동 147-4번지   서울특별시 종로구 자하문로 35-6
3        서울특별시 종로구 창신동 578-1      서울특별시 종로구 창신길 22
4       서울특별시 종로구 관훈동 197-28    서울특별시 종로구 인사동7길 12
...                      ...                   ...
3896   서울특별시 강동구 천호동 410-105     서울특별시 강동구 진황도로 18
3911  서울특별시 강동구 암사동 421-23번지  서울특별시 강동구 구천면로 371-5
3912  서울특별시 강동구 암사동 514-55번지    서울특별시 강동구 상암로4길 52
3941     서울특별시 강동구 성내동 549-4      서울특별시 강동구 성내로 52
3949  서울특별시 강동구 성내동 127-25번지    서울특별시 강동구 천호옛8길 11

[1207 rows x 2 columns]

In [103]:
# === 셀 1: 설정/유틸 =========================================
import re, time, threading, requests, pandas as pd
from concurrent.futures import ThreadPoolExecutor, as_completed

assert 'data' in globals(), "DataFrame 'data'가 필요합니다."
for c in ['소재지전체주소','도로명전체주소']:
    if c not in data.columns: data[c] = None

# 키
JUSO_KEY  = "devU01TX0FVVEgyMDI1MDgxMjE3MjIzMjExNjA2MjU="
KAKAO_KEY = "d86a315467c1c7369d876fd654b23cd0"

# 엔드포인트/공통
JUSO_URL   = "https://www.juso.go.kr/addrlink/addrLinkApi.do"
ADDR_URL   = "https://dapi.kakao.com/v2/local/search/address.json"
REGION_URL = "https://dapi.kakao.com/v2/local/geo/coord2regioncode.json"
HEADERS    = {"Authorization": f"KakaoAK {KAKAO_KEY}"}

# 동시성 & 타임아웃
CONC_JUSO  = 12     # 행안부는 10~15 권장
CONC_KAKAO = 25     # 카카오는 20~30 권장
TIMEOUT = 7
MAX_RETRY = 2
MAX_SHRINK = 12     # 뒤에서 1글자씩 줄이는 최대 시도 횟수

# ---- 문자열 가공 ----
def norm_addr(s: str):
    if not isinstance(s, str): return None
    s = re.sub(r"\s+", " ", s.strip())
    return s if s else None

def remove_trailing_bunji(s: str):
    """문자열 끝이 정확히 '번지'면 그 부분만 제거"""
    if not isinstance(s, str): return None
    s = s.strip()
    return s[:-2].strip() if s.endswith("번지") else s

def cut_before_last_dash(s: str):
    """마지막 '-' 앞까지만 남김 (예: '67-138'→'67', '257-48번지'→'257번지')"""
    if not isinstance(s, str): return None
    m = re.search(r"^(.*?)(?:-\d+)(?:번지)?\s*$", s)
    return m.group(1).strip() if m else s

def progressive_shrink(s: str, max_try=MAX_SHRINK):
    """뒤에서 1글자씩 줄여가며 후보 생성 (너무 짧아지지 않게 컷오프)"""
    s0 = norm_addr(s)
    if not s0: return []
    min_len = max(8, s0.find("구")+1)  # '...구'까지는 남기자(대략적인 컷오프)
    out, cur = [], s0
    for _ in range(max_try):
        if len(cur) <= min_len: break
        cur = cur[:-1].rstrip()
        out.append(cur)
    return out

# ---- 행안부 표준화 호출 (캐시 포함) ----
std_cache, std_lock = {}, threading.Lock()
def juso_standardize(addr: str):
    """주소(지번/도로명 무관) -> 표준 도로명주소 or None"""
    if not addr: return addr, None
    a = norm_addr(addr)
    if not a: return addr, None
    with std_lock:
        if a in std_cache: return a, std_cache[a]
    params = {'confmKey': JUSO_KEY, 'currentPage':1, 'countPerPage':1,
              'keyword': a, 'resultType':'json'}
    out = None
    for attempt in range(1, MAX_RETRY+2):
        try:
            r = requests.get(JUSO_URL, params=params, timeout=TIMEOUT); r.raise_for_status()
            j = r.json().get('results',{}).get('juso',[])
            out = j[0].get('roadAddr') if j else None
            break
        except Exception:
            if attempt == MAX_RETRY+1: out = None
            else: time.sleep(0.5*attempt)
    with std_lock:
        std_cache[a] = out
    return a, out

In [104]:
# === 셀 2: 규칙 기반 표준도로명주소 생성 =====================

def candidate_sequence(row):
    # 1) 원본 정규화 + '번지' 제거
    raw_road = remove_trailing_bunji(norm_addr(row.get('도로명전체주소')))
    raw_lot  = remove_trailing_bunji(norm_addr(row.get('소재지전체주소')))

    cand = []
    # 2) 도로명 → 소재지 (둘 다 사용)
    for a in [raw_road, raw_lot]:
        if a and a not in cand: cand.append(a)

    # 3) 소재지에서 마지막 '-' 앞까지만
    if raw_lot:
        cut = cut_before_last_dash(raw_lot)
        if cut and cut not in cand and cut != raw_lot:
            cand.append(cut)
        # 4) 소재지 주소 뒤에서 1글자씩 줄이기
        for shr in progressive_shrink(raw_lot):
            if shr not in cand: cand.append(shr)

    return cand

# 표준도로명주소 컬럼 준비
if '표준도로명주소' not in data.columns:
    data['표준도로명주소'] = None

need = data['표준도로명주소'].isna()
cseq = data.loc[need].apply(candidate_sequence, axis=1)

# 모든 후보 flatten → 유니크
all_candidates = []
for lst in cseq: all_candidates.extend(lst)
uniq_candidates = list(dict.fromkeys([a for a in all_candidates if a]))  # 순서유지 dedupe
print("유니크 후보 수:", len(uniq_candidates))

# 병렬 표준화 호출 (후보별 1회)
t0 = time.time()
with ThreadPoolExecutor(max_workers=CONC_JUSO) as ex:
    futures = [ex.submit(juso_standardize, a) for a in uniq_candidates]
    for i, f in enumerate(as_completed(futures), 1):
        if i % 200 == 0 or i == len(futures):
            dt = time.time()-t0
            print(f"[JUSO 호출] {i}/{len(futures)} | {i/max(dt,1):.1f} req/s")

# 행별로 "첫 성공값" 채워넣기
filled_idx = []
for idx, lst in cseq.items():
    std = None
    for a in lst:
        key = norm_addr(a)
        std = std_cache.get(key)
        if std: break
    if std:
        data.at[idx, '표준도로명주소'] = std
        filled_idx.append(idx)

print(f"이번 라운드 채워짐: {len(filled_idx)}")
print("표준도로명주소 결측:", int(data['표준도로명주소'].isna().sum()), "/", len(data))

유니크 후보 수: 6724
[JUSO 호출] 200/6724 | 47.4 req/s
[JUSO 호출] 400/6724 | 46.7 req/s
[JUSO 호출] 600/6724 | 46.9 req/s
[JUSO 호출] 800/6724 | 45.7 req/s
[JUSO 호출] 1000/6724 | 46.0 req/s
[JUSO 호출] 1200/6724 | 45.5 req/s
[JUSO 호출] 1400/6724 | 45.4 req/s
[JUSO 호출] 1600/6724 | 44.9 req/s
[JUSO 호출] 1800/6724 | 43.7 req/s
[JUSO 호출] 2000/6724 | 42.6 req/s
[JUSO 호출] 2200/6724 | 41.6 req/s
[JUSO 호출] 2400/6724 | 41.0 req/s
[JUSO 호출] 2600/6724 | 40.7 req/s
[JUSO 호출] 2800/6724 | 40.4 req/s
[JUSO 호출] 3000/6724 | 40.1 req/s
[JUSO 호출] 3200/6724 | 40.5 req/s
[JUSO 호출] 3400/6724 | 41.0 req/s
[JUSO 호출] 3600/6724 | 41.3 req/s
[JUSO 호출] 3800/6724 | 41.6 req/s
[JUSO 호출] 4000/6724 | 42.0 req/s
[JUSO 호출] 4200/6724 | 42.4 req/s
[JUSO 호출] 4400/6724 | 42.7 req/s
[JUSO 호출] 4600/6724 | 43.0 req/s
[JUSO 호출] 4800/6724 | 43.2 req/s
[JUSO 호출] 5000/6724 | 43.4 req/s
[JUSO 호출] 5200/6724 | 43.7 req/s
[JUSO 호출] 5400/6724 | 43.9 req/s
[JUSO 호출] 5600/6724 | 44.1 req/s
[JUSO 호출] 5800/6724 | 44.3 req/s
[JUSO 호출] 6000/6724 | 44.5 req/s
[JUSO 호출] 6200/6724 | 44.7 req/s
[JUSO 호출] 6400/6724 | 44.7 req/s
[JUSO 호출] 6600/6724 | 44.8 req/s
[JUSO 호출] 6724/6724 | 44.8 req/s
이번 라운드 채워짐: 1207
표준도로명주소 결측: 0 / 1207

In [105]:
# === 셀 3: 좌표(WGS84) 채우기 → 행정동 =========================
# 3-1) 원자료 좌표 있으면 변환 사용
X_COL, Y_COL = '좌표정보x(epsg5174)', '좌표정보y(epsg5174)'
if X_COL not in data.columns: data[X_COL] = None
if Y_COL not in data.columns: data[Y_COL] = None

def try_import_pyproj():
    try:
        from pyproj import Transformer
        return Transformer.from_crs(5174, 4326, always_xy=True)
    except Exception:
        return None

_transformer = try_import_pyproj()
def tm5174_to_wgs84(x, y):
    if pd.isna(x) or pd.isna(y) or _transformer is None: return (None, None)
    try:
        lon, lat = _transformer.transform(float(x), float(y))
        return (lon, lat)
    except Exception:
        return (None, None)

xy0 = data[[X_COL, Y_COL]].apply(lambda r: tm5174_to_wgs84(r[X_COL], r[Y_COL]), axis=1)
data['lon'] = [p[0] for p in xy0]
data['lat'] = [p[1] for p in xy0]
print("기존좌표 변환 후 결측(lon/lat):", int((data['lon'].isna()|data['lat'].isna()).sum()))

# 3-2) 좌표 없는 행만 카카오 주소검색(표준도로명주소로)
addr_cache, addr_lock = {}, threading.Lock()
def kakao_geocode(addr: str):
    if not isinstance(addr, str) or not addr.strip(): return (None, None)
    a = norm_addr(addr)
    with addr_lock:
        if a in addr_cache: return addr_cache[a]
    out = (None, None)
    for attempt in range(1, MAX_RETRY+2):
        try:
            r = requests.get(ADDR_URL, headers=HEADERS, params={"query": a}, timeout=TIMEOUT)
            r.raise_for_status()
            docs = r.json().get("documents", [])
            out = (float(docs[0]['x']), float(docs[0]['y'])) if docs else (None, None)
            break
        except Exception:
            if attempt == MAX_RETRY+1: out = (None, None)
            else: time.sleep(0.4*attempt)
    with addr_lock:
        addr_cache[a] = out
    return out

need_geo = data['lon'].isna() | data['lat'].isna()
uniq_std = data.loc[need_geo, '표준도로명주소'].dropna().unique().tolist()

t2 = time.time()
with ThreadPoolExecutor(max_workers=CONC_KAKAO) as ex:
    futures = [ex.submit(kakao_geocode, a) for a in uniq_std]
    for i, f in enumerate(as_completed(futures), 1):
        if i % 200 == 0 or i == len(futures):
            dt = time.time()-t2
            print(f"[카카오 지오코딩] {i}/{len(uniq_std)} | {i/max(dt,1):.1f} req/s")

data.loc[need_geo, 'lon'] = data.loc[need_geo, '표준도로명주소'].map(
    lambda a: addr_cache.get(norm_addr(a),(None,None))[0]
).astype('float64').values
data.loc[need_geo, 'lat'] = data.loc[need_geo, '표준도로명주소'].map(
    lambda a: addr_cache.get(norm_addr(a),(None,None))[1]
).astype('float64').values
print("최종 좌표 결측:", int((data['lon'].isna() | data['lat'].isna()).sum()))

# 3-3) 좌표 -> 행정동/법정동
rc_cache, rc_lock = {}, threading.Lock()
def coord2region(lon, lat):
    if pd.isna(lon) or pd.isna(lat):
        return {"행정동":None,"행정동코드":None,"법정동명":None,"법정동코드":None}
    key = (float(lon), float(lat))
    with rc_lock:
        if key in rc_cache: return rc_cache[key]
    out = {"행정동":None,"행정동코드":None,"법정동명":None,"법정동코드":None}
    for attempt in range(1, MAX_RETRY+2):
        try:
            r = requests.get(REGION_URL, headers=HEADERS, params={"x": key[0], "y": key[1]}, timeout=TIMEOUT)
            r.raise_for_status()
            docs = r.json().get("documents", [])
            h = next((d for d in docs if d.get('region_type')=='H'), None)
            b = next((d for d in docs if d.get('region_type')=='B'), None)
            out = {
                "행정동": (h or {}).get("region_3depth_name"),
                "행정동코드": (h or {}).get("code"),
                "법정동명": (b or {}).get("region_3depth_name"),
                "법정동코드": (b or {}).get("code"),
            }
            break
        except Exception:
            if attempt == MAX_RETRY+1: pass
            else: time.sleep(0.4*attempt)
    with rc_lock:
        rc_cache[key] = out
    return out

pairs = pd.Series(list(zip(data['lon'], data['lat']))).dropna().unique().tolist()
t3 = time.time()
with ThreadPoolExecutor(max_workers=CONC_KAKAO) as ex:
    futures = [ex.submit(coord2region, *p) for p in pairs]
    for i, f in enumerate(as_completed(futures), 1):
        if i % 300 == 0 or i == len(futures):
            dt = time.time()-t3
            print(f"[행정동 조회] {i}/{len(pairs)} | {i/max(dt,1):.1f} req/s")

tmp = data[['lon','lat']].apply(lambda r: rc_cache.get((r['lon'], r['lat']),
                    {"행정동":None,"행정동코드":None,"법정동명":None,"법정동코드":None}), axis=1)
tmp = pd.json_normalize(tmp)
data[['행정동','행정동코드','법정동명','법정동코드']] = tmp[['행정동','행정동코드','법정동명','법정동코드']].values

print("총 건수:", len(data), " | 행정동 결측:", int(data['행정동'].isna().sum()))
display(data[['소재지전체주소','도로명전체주소','표준도로명주소','lon','lat','행정동']].head(10))

기존좌표 변환 후 결측(lon/lat): 15
[카카오 지오코딩] 15/15 | 15.0 req/s
최종 좌표 결측: 0
[행정동 조회] 300/1136 | 140.7 req/s
[행정동 조회] 600/1136 | 99.7 req/s
[행정동 조회] 900/1136 | 88.6 req/s
[행정동 조회] 1136/1136 | 89.0 req/s
총 건수: 1207  | 행정동 결측: 0

,소재지전체주소,도로명전체주소,표준도로명주소,lon,lat,행정동
0,서울특별시 종로구 원남동 49-17번지,서울특별시 종로구 율곡로 180,서울특별시 종로구 율곡로 180 (원남동),126.998766,37.575725,종로1.2.3.4가동
1,서울특별시 종로구 창신동 328-18,서울특별시 종로구 지봉로 19,서울특별시 종로구 지봉로 19 (창신동),127.015208,37.571758,창신1동
2,서울특별시 종로구 통인동 147-4번지,서울특별시 종로구 자하문로 35-6,서울특별시 종로구 자하문로 35-6 (통인동),126.970922,37.579146,청운효자동
3,서울특별시 종로구 창신동 578-1,서울특별시 종로구 창신길 22,서울특별시 종로구 창신길 22 (창신동),127.011022,37.572620,창신2동
4,서울특별시 종로구 관훈동 197-28,서울특별시 종로구 인사동7길 12,서울특별시 종로구 인사동7길 12 (관훈동),126.985212,37.573087,종로1.2.3.4가동
5,서울특별시 종로구 숭인동 55-6,서울특별시 종로구 지봉로 82,서울특별시 종로구 지봉로 82 (숭인동),127.015686,37.577449,숭인1동
6,서울특별시 종로구 통인동 35-16,서울특별시 종로구 필운대로6길 3,서울특별시 종로구 필운대로6길 3 (통인동),126.968844,37.580902,청운효자동
7,서울특별시 종로구 삼일대로30길 31,서울특별시 종로구 삼일대로30길 31,서울특별시 종로구 삼일대로30길 31 (익선동),126.989462,37.574417,종로1.2.3.4가동
8,서울특별시 종로구 명륜1가 10-16번지,서울특별시 종로구 명륜길 8,서울특별시 종로구 명륜길 8 (명륜1가),126.996367,37.588129,혜화동
9,서울특별시 종로구 적선동 122-1번지,서울특별시 종로구 새문안로5가길 32,서울특별시 종로구 새문안로5가길 32 (적선동),126.973431,37.574912,사직동

In [106]:
data

,개방서비스명,개방서비스아이디,개방자치단체코드,관리번호,상세영업상태명,폐업일자,소재지면적,소재지전체주소,도로명전체주소,사업장명,...,여성종사자수,남성종사자수,다중이용업소여부,표준도로명주소,lon,lat,행정동,행정동코드,법정동명,법정동코드
0,목욕장업,11_44_01_P,3000000,3000000-202-2019-00001,영업,NaT,233.95,서울특별시 종로구 원남동 49-17번지,서울특별시 종로구 율곡로 180,오라카이 대학로 호텔,...,0.0,0.0,N,서울특별시 종로구 율곡로 180 (원남동),126.998766,37.575725,종로1.2.3.4가동,1111061500,원남동,1111015900
1,목욕장업,11_44_01_P,3000000,3000000-202-2024-00001,영업,NaT,2089.91,서울특별시 종로구 창신동 328-18,서울특별시 종로구 지봉로 19,스파렉스,...,0.0,0.0,N,서울특별시 종로구 지봉로 19 (창신동),127.015208,37.571758,창신1동,1111067000,창신동,1111017400
2,목욕장업,11_44_01_P,3000000,3000000-202-1970-00392,영업,NaT,262.26,서울특별시 종로구 통인동 147-4번지,서울특별시 종로구 자하문로 35-6,인왕탕,...,NaN,NaN,N,서울특별시 종로구 자하문로 35-6 (통인동),126.970922,37.579146,청운효자동,1111051500,통인동,1111010800
3,목욕장업,11_44_01_P,3000000,3000000-202-1963-00410,영업,NaT,249.10,서울특별시 종로구 창신동 578-1,서울특별시 종로구 창신길 22,현대옥사우나,...,0.0,0.0,N,서울특별시 종로구 창신길 22 (창신동),127.011022,37.572620,창신2동,1111068000,창신동,1111017400
4,목욕장업,11_44_01_P,3000000,3000000-202-2003-00009,영업,NaT,1430.00,서울특별시 종로구 관훈동 197-28,서울특별시 종로구 인사동7길 12,백상대중탕,...,NaN,NaN,N,서울특별시 종로구 인사동7길 12 (관훈동),126.985212,37.573087,종로1.2.3.4가동,1111061500,관훈동,1111012800
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3896,목욕장업,11_44_01_P,3240000,3240000-202-2001-00013,폐업,2020-11-16,1980.00,서울특별시 강동구 천호동 410-105,서울특별시 강동구 진황도로 18,현대비전사우나,...,NaN,NaN,N,서울특별시 강동구 진황도로 5-1 (천호동),127.129055,37.539196,천호3동,1174062000,천호동,1174010900
3911,목욕장업,11_44_01_P,3240000,3240000-202-2000-00004,폐업,2018-09-27,161.16,서울특별시 강동구 암사동 421-23번지,서울특별시 강동구 구천면로 371-5,상원,...,NaN,NaN,N,서울특별시 강동구 구천면로 371-5 (암사동),127.140058,37.550888,암사1동,1174057000,암사동,1174010700
3912,목욕장업,11_44_01_P,3240000,3240000-202-2000-00005,폐업,2017-02-23,349.67,서울특별시 강동구 암사동 514-55번지,서울특별시 강동구 상암로4길 52,남양,...,NaN,NaN,N,서울특별시 강동구 암사13길 19 (암사동),127.136971,37.552908,암사1동,1174057000,암사동,1174010700
3941,목욕장업,11_44_01_P,3240000,3240000-202-2001-00005,폐업,2022-06-13,822.98,서울특별시 강동구 성내동 549-4,서울특별시 강동구 성내로 52,퍼시픽,...,0.0,0.0,N,서울특별시 강동구 성내로 52 (성내동),127.125677,37.528287,성내1동,1174064000,성내동,1174010800
3949,목욕장업,11_44_01_P,3240000,3240000-202-2018-00002,폐업,2019-03-07,198.00,서울특별시 강동구 성내동 127-25번지,서울특별시 강동구 천호옛8길 11,성일목욕탕,...,0.0,0.0,N,서울특별시 강동구 천호옛8길 11 (성내동),127.124100,37.533365,성내2동,1174065000,성내동,1174010800

In [75]:
# === 공통 설정 ===
import re, time, threading, requests, pandas as pd
from concurrent.futures import ThreadPoolExecutor, as_completed

assert 'data' in globals(), "DataFrame 'data'가 세션에 있어야 합니다."
for c in ['소재지전체주소','도로명전체주소']:
    if c not in data.columns: data[c] = None

# 키 (사용자 제공)
JUSO_KEY  = "devU01TX0FVVEgyMDI1MDgxMjE3MjIzMjExNjA2MjU="   # 행안부 도로명주소 API
KAKAO_KEY = "d86a315467c1c7369d876fd654b23cd0"              # 카카오 REST API

# 엔드포인트
JUSO_URL   = "https://www.juso.go.kr/addrlink/addrLinkApi.do"
ADDR_URL   = "https://dapi.kakao.com/v2/local/search/address.json"
REGION_URL = "https://dapi.kakao.com/v2/local/geo/coord2regioncode.json"
HEADERS    = {"Authorization": f"KakaoAK {KAKAO_KEY}"}

# 동시성
CONC_JUSO = 12    # JUSO는 너무 높이면 느려짐
CONC_KAKAO = 25   # 카카오 20~30 권장
TIMEOUT = 6
MAX_RETRY = 2

def norm_addr(s: str):
    if not isinstance(s, str): return None
    s = re.sub(r"\s+", " ", s.strip())
    return s if s else None

In [76]:
# === 2-1) 표준화 함수 (행안부) ===
std_cache, std_lock = {}, threading.Lock()

def juso_standardize(addr: str):
    """주소(지번/도로명 무관) -> 표준 도로명주소 roadAddr"""
    if not addr: return addr, None
    addr = norm_addr(addr)
    with std_lock:
        if addr in std_cache: 
            return addr, std_cache[addr]
    params = {'confmKey': JUSO_KEY, 'currentPage':1, 'countPerPage':1,
              'keyword': addr, 'resultType':'json'}
    out = None
    for attempt in range(1, MAX_RETRY+2):
        try:
            r = requests.get(JUSO_URL, params=params, timeout=TIMEOUT)
            r.raise_for_status()
            j = r.json().get('results',{}).get('juso',[])
            out = j[0].get('roadAddr') if j else None
            break
        except Exception:
            if attempt == MAX_RETRY+1:
                out = None
            else:
                time.sleep(0.5*attempt)
    with std_lock:
        std_cache[addr] = out
    return addr, out

# === 2-2) 1차: 도로명전체주소 기반 표준화 ===
src1 = data['도로명전체주소'].map(norm_addr)
uniq1 = src1.dropna().unique().tolist()

t0 = time.time()
with ThreadPoolExecutor(max_workers=CONC_JUSO) as ex:
    futures = [ex.submit(juso_standardize, a) for a in uniq1]
    for i, f in enumerate(as_completed(futures), 1):
        if i % 200 == 0 or i == len(futures):
            dt = time.time()-t0
            print(f"[JUSO 표준화 1차(도로명)] {i}/{len(uniq1)} | {i/max(dt,1):.1f} req/s")

data['표준도로명주소'] = src1.map(lambda a: std_cache.get(a))

# === 2-3) 2차: 소재지전체주소로 재시도(아직 결측만) ===
need_std = data['표준도로명주소'].isna()
src2 = data.loc[need_std, '소재지전체주소'].map(norm_addr)
uniq2 = src2.dropna().unique().tolist()

t1 = time.time()
with ThreadPoolExecutor(max_workers=CONC_JUSO) as ex:
    futures = [ex.submit(juso_standardize, a) for a in uniq2]
    for i, f in enumerate(as_completed(futures), 1):
        if i % 200 == 0 or i == len(futures):
            dt = time.time()-t1
            print(f"[JUSO 표준화 2차(소재지)] {i}/{len(uniq2)} | {i/max(dt,1):.1f} req/s")

data.loc[need_std, '표준도로명주소'] = src2.map(lambda a: std_cache.get(a)).values

print("표준도로명주소 결측:", int(data['표준도로명주소'].isna().sum()), "/", len(data))
display(data[['소재지전체주소','도로명전체주소','표준도로명주소']].head(8))

[JUSO 표준화 1차(도로명)] 200/1137 | 46.9 req/s
[JUSO 표준화 1차(도로명)] 400/1137 | 47.1 req/s
[JUSO 표준화 1차(도로명)] 600/1137 | 48.8 req/s
[JUSO 표준화 1차(도로명)] 800/1137 | 49.1 req/s
[JUSO 표준화 1차(도로명)] 1000/1137 | 49.3 req/s
[JUSO 표준화 1차(도로명)] 1137/1137 | 48.8 req/s
[JUSO 표준화 2차(소재지)] 71/71 | 45.1 req/s
표준도로명주소 결측: 48 / 1207

                 소재지전체주소               도로명전체주소                     표준도로명주소
0  서울특별시 종로구 원남동 49-17번지     서울특별시 종로구 율곡로 180     서울특별시 종로구 율곡로 180 (원남동)
1   서울특별시 종로구 창신동 328-18      서울특별시 종로구 지봉로 19      서울특별시 종로구 지봉로 19 (창신동)
2  서울특별시 종로구 통인동 147-4번지   서울특별시 종로구 자하문로 35-6   서울특별시 종로구 자하문로 35-6 (통인동)
3    서울특별시 종로구 창신동 578-1      서울특별시 종로구 창신길 22      서울특별시 종로구 창신길 22 (창신동)
4   서울특별시 종로구 관훈동 197-28    서울특별시 종로구 인사동7길 12    서울특별시 종로구 인사동7길 12 (관훈동)
5     서울특별시 종로구 숭인동 55-6      서울특별시 종로구 지봉로 82      서울특별시 종로구 지봉로 82 (숭인동)
6    서울특별시 종로구 통인동 35-16    서울특별시 종로구 필운대로6길 3    서울특별시 종로구 필운대로6길 3 (통인동)
7   서울특별시 종로구 삼일대로30길 31  서울특별시 종로구 삼일대로30길 31  서울특별시 종로구 삼일대로30길 31 (익선동)

In [77]:
# === 3-1) EPSG:5174 → WGS84 변환 (있으면 사용) ===
X_COL, Y_COL = '좌표정보x(epsg5174)', '좌표정보y(epsg5174)'
if X_COL not in data.columns: data[X_COL] = None
if Y_COL not in data.columns: data[Y_COL] = None

def try_import_pyproj():
    try:
        from pyproj import Transformer
        return Transformer.from_crs(5174, 4326, always_xy=True)
    except Exception:
        return None

transformer = try_import_pyproj()

def tm5174_to_wgs84(x, y):
    if pd.isna(x) or pd.isna(y) or transformer is None:
        return (None, None)
    try:
        lon, lat = transformer.transform(float(x), float(y))
        return (lon, lat)
    except Exception:
        return (None, None)

xy0 = data[[X_COL, Y_COL]].apply(lambda r: tm5174_to_wgs84(r[X_COL], r[Y_COL]), axis=1)
data['lon'] = [p[0] for p in xy0]
data['lat'] = [p[1] for p in xy0]

print("기존좌표 변환 후 결측(lon/lat):",
      int((data['lon'].isna() | data['lat'].isna()).sum()), "/", len(data))

# === 3-2) 좌표 없는 행만 카카오 주소검색으로 좌표 ===
addr_cache, addr_lock = {}, threading.Lock()

def kakao_geocode(addr: str):
    if not isinstance(addr, str) or not addr.strip():
        return (None, None)
    a = norm_addr(addr)
    with addr_lock:
        if a in addr_cache: return addr_cache[a]
    params = {"query": a}
    out = (None, None)
    for attempt in range(1, MAX_RETRY+2):
        try:
            r = requests.get(ADDR_URL, headers=HEADERS, params=params, timeout=TIMEOUT)
            r.raise_for_status()
            docs = r.json().get("documents", [])
            out = (float(docs[0]['x']), float(docs[0]['y'])) if docs else (None, None)
            break
        except Exception:
            if attempt == MAX_RETRY+1: out = (None, None)
            else: time.sleep(0.4*attempt)
    with addr_lock:
        addr_cache[a] = out
    return out

need_geo = data['lon'].isna() | data['lat'].isna()
uniq_std = data.loc[need_geo, '표준도로명주소'].dropna().unique().tolist()

t2 = time.time()
with ThreadPoolExecutor(max_workers=CONC_KAKAO) as ex:
    futures = [ex.submit(kakao_geocode, a) for a in uniq_std]
    for i, f in enumerate(as_completed(futures), 1):
        if i % 200 == 0 or i == len(futures):
            dt = time.time()-t2
            print(f"[카카오 지오코딩] {i}/{len(uniq_std)} | {i/max(dt,1):.1f} req/s")

data.loc[need_geo, 'lon'] = data.loc[need_geo, '표준도로명주소'].map(
    lambda a: addr_cache.get(norm_addr(a),(None,None))[0]
).astype('float64').values
data.loc[need_geo, 'lat'] = data.loc[need_geo, '표준도로명주소'].map(
    lambda a: addr_cache.get(norm_addr(a),(None,None))[1]
).astype('float64').values

print("최종 좌표 결측:", int((data['lon'].isna() | data['lat'].isna()).sum()), "/", len(data))

# === 3-3) 좌표 -> 행정동/법정동 ===
rc_cache, rc_lock = {}, threading.Lock()

def coord2region(lon, lat):
    if pd.isna(lon) or pd.isna(lat):
        return {"행정동":None,"행정동코드":None,"법정동명":None,"법정동코드":None}
    key = (float(lon), float(lat))
    with rc_lock:
        if key in rc_cache: return rc_cache[key]
    params = {"x": key[0], "y": key[1]}
    out = {"행정동":None,"행정동코드":None,"법정동명":None,"법정동코드":None}
    for attempt in range(1, MAX_RETRY+2):
        try:
            r = requests.get(REGION_URL, headers=HEADERS, params=params, timeout=TIMEOUT)
            r.raise_for_status()
            docs = r.json().get("documents", [])
            h = next((d for d in docs if d.get('region_type')=='H'), None)
            b = next((d for d in docs if d.get('region_type')=='B'), None)
            out = {
                "행정동": (h or {}).get("region_3depth_name"),
                "행정동코드": (h or {}).get("code"),
                "법정동명": (b or {}).get("region_3depth_name"),
                "법정동코드": (b or {}).get("code"),
            }
            break
        except Exception:
            if attempt == MAX_RETRY+1: pass
            else: time.sleep(0.4*attempt)
    with rc_lock:
        rc_cache[key] = out
    return out

pairs = pd.Series(list(zip(data['lon'], data['lat']))).dropna().unique().tolist()
t3 = time.time()
with ThreadPoolExecutor(max_workers=CONC_KAKAO) as ex:
    futures = [ex.submit(coord2region, *p) for p in pairs]  # (lon, lat)
    for i, f in enumerate(as_completed(futures), 1):
        if i % 300 == 0 or i == len(futures):
            dt = time.time()-t3
            print(f"[행정동 조회] {i}/{len(pairs)} | {i/max(dt,1):.1f} req/s")

# 매핑 적용
def rc_lookup(row):
    key = (row['lon'], row['lat'])
    return rc_cache.get(key, {"행정동":None,"행정동코드":None,"법정동명":None,"법정동코드":None})

tmp = data[['lon','lat']].apply(rc_lookup, axis=1)
tmp = pd.json_normalize(tmp)
data[['행정동','행정동코드','법정동명','법정동코드']] = tmp[['행정동','행정동코드','법정동명','법정동코드']].values

print("총 건수:", len(data), " | 행정동 결측:", int(data['행정동'].isna().sum()))
display(data[['소재지전체주소','도로명전체주소','표준도로명주소','lon','lat','행정동']].head(10))

기존좌표 변환 후 결측(lon/lat): 15 / 1207
[카카오 지오코딩] 5/5 | 5.0 req/s
최종 좌표 결측: 10 / 1207
[행정동 조회] 300/1127 | 140.9 req/s
[행정동 조회] 600/1127 | 100.4 req/s
[행정동 조회] 900/1127 | 88.6 req/s
[행정동 조회] 1127/1127 | 65.0 req/s
총 건수: 1207  | 행정동 결측: 10

,소재지전체주소,도로명전체주소,표준도로명주소,lon,lat,행정동
0,서울특별시 종로구 원남동 49-17번지,서울특별시 종로구 율곡로 180,서울특별시 종로구 율곡로 180 (원남동),126.998766,37.575725,종로1.2.3.4가동
1,서울특별시 종로구 창신동 328-18,서울특별시 종로구 지봉로 19,서울특별시 종로구 지봉로 19 (창신동),127.015208,37.571758,창신1동
2,서울특별시 종로구 통인동 147-4번지,서울특별시 종로구 자하문로 35-6,서울특별시 종로구 자하문로 35-6 (통인동),126.970922,37.579146,청운효자동
3,서울특별시 종로구 창신동 578-1,서울특별시 종로구 창신길 22,서울특별시 종로구 창신길 22 (창신동),127.011022,37.572620,창신2동
4,서울특별시 종로구 관훈동 197-28,서울특별시 종로구 인사동7길 12,서울특별시 종로구 인사동7길 12 (관훈동),126.985212,37.573087,종로1.2.3.4가동
5,서울특별시 종로구 숭인동 55-6,서울특별시 종로구 지봉로 82,서울특별시 종로구 지봉로 82 (숭인동),127.015686,37.577449,숭인1동
6,서울특별시 종로구 통인동 35-16,서울특별시 종로구 필운대로6길 3,서울특별시 종로구 필운대로6길 3 (통인동),126.968844,37.580902,청운효자동
7,서울특별시 종로구 삼일대로30길 31,서울특별시 종로구 삼일대로30길 31,서울특별시 종로구 삼일대로30길 31 (익선동),126.989462,37.574417,종로1.2.3.4가동
8,서울특별시 종로구 명륜1가 10-16번지,서울특별시 종로구 명륜길 8,서울특별시 종로구 명륜길 8 (명륜1가),126.996367,37.588129,혜화동
9,서울특별시 종로구 적선동 122-1번지,서울특별시 종로구 새문안로5가길 32,서울특별시 종로구 새문안로5가길 32 (적선동),126.973431,37.574912,사직동

In [82]:
# 표준도로명주소 결측만 추출
missing_std = data[data['표준도로명주소'].isna()].copy()

print("표준도로명주소 결측 행 수:", len(missing_std))
display(missing_std[['소재지전체주소','도로명전체주소','표준도로명주소']].head(20))

# 저장 (사람 검토용)
missing_std[['소재지전체주소','도로명전체주소']].to_csv(
    '표준도로명주소_결측행_리스트.csv', index=False, encoding='utf-8-sig'
)

표준도로명주소 결측 행 수: 48

                       소재지전체주소                도로명전체주소 표준도로명주소
739       서울특별시 종로구 종로67길 3-16   서울특별시 종로구 종로67길 3-16    None
853      서울특별시 중구 충무로4가 12-1번지      서울특별시 중구 충무로2길 15    None
890        서울특별시 중구 신당동 67-138     서울특별시 중구 퇴계로88길 55    None
976      서울특별시 용산구 한강로2가 204번지     서울특별시 용산구 서빙고로5길 7    None
1339       서울특별시 광진구 자양동 846-9    서울특별시 광진구 뚝섬로27길 45    None
1378  서울특별시 동대문구 이문동 257-555번지  서울특별시 동대문구 이문로35마길 19    None
1379        서울특별시 동대문구 휘경동 159   서울특별시 동대문구 휘경로14길 34    None
1382   서울특별시 동대문구 이문동 257-48번지  서울특별시 동대문구 이문로35라길 19    None
1410   서울특별시 동대문구 휘경동 154-20번지  서울특별시 동대문구 외대역동로 65-1    None
1420    서울특별시 동대문구 용두동 756-3번지      서울특별시 동대문구 한빛로 41    None
1453    서울특별시 동대문구 휘경동 191-5번지     서울특별시 동대문구 회기로 191    None
1477       서울특별시 중랑구 면목동 618-1    서울특별시 중랑구 면목로42길 14    None
1506          서울특별시 중랑구 묵동 165     서울특별시 중랑구 중랑역로 262    None
1599     서울특별시 성북구 장위동 213-6번지     서울특별시 성북구 돌곶이로 196    None
1604    서울특별시 성북구 길음동 1021-1번지   서울특별시 성북구 삼양로2길 19-8    None
1700   서울특별시 성북구 보문동1가 109-2번지        서울특별시 성북구 인촌로 5    None
1705     서울특별시 성북구 장위동 68-1014    서울특별시 성북구 장위로 122-3    None
1708   서울특별시 성북구 길음동 541-100번지     서울특별시 성북구 길음로1길 27    None
1952      서울특별시 노원구 상계동 95-1번지    서울특별시 노원구 덕릉로112길 6    None
1953   서울특별시 노원구 상계동 138-193번지      서울특별시 노원구 수락산로 24    None

In [83]:
import re

def strip_dash_suffix(addr: str):
    if not isinstance(addr, str):
        return None
    addr = addr.strip()
    # '번지'가 붙은 경우 처리
    addr = re.sub(r'(\d+)-\d+(번지)?', r'\1\2', addr)
    return addr

# 표준도로명주소 결측 행만
mask = data['표준도로명주소'].isna()
cand = data.loc[mask, '소재지전체주소'].map(strip_dash_suffix)

# 중복 제거
uniq_cand = cand.dropna().unique().tolist()

# 재시도
for addr in uniq_cand:
    road = juso_standardize(addr)[1]  # juso_standardize는 (원주소, 표준주소) 반환
    if road:
        idxs = data.index[(mask) & (cand == addr)]
        data.loc[idxs, '표준도로명주소'] = road

print("재시도 후 표준도로명주소 결측:", data['표준도로명주소'].isna().sum())

재시도 후 표준도로명주소 결측: 21

In [86]:
data[data['표준도로명주소'].isna() == 1]

,개방서비스명,개방서비스아이디,개방자치단체코드,관리번호,상세영업상태명,폐업일자,소재지면적,소재지전체주소,도로명전체주소,사업장명,...,여성종사자수,남성종사자수,다중이용업소여부,표준도로명주소,lon,lat,행정동,행정동코드,법정동명,법정동코드
853,목욕장업,11_44_01_P,3010000,3010000-202-2011-00003,폐업,2019-12-18,660.00,서울특별시 중구 충무로4가 12-1번지,서울특별시 중구 충무로2길 15,일진사우나,...,NaN,NaN,N,None,126.994042,37.562742,광희동,1114059000,충무로4가,1114013200
976,목욕장업,11_44_01_P,3020000,3020000-202-1960-00341,폐업,2017-04-05,894.30,서울특별시 용산구 한강로2가 204번지,서울특별시 용산구 서빙고로5길 7,용산,...,NaN,NaN,N,None,126.966064,37.526293,한강로동,1117062500,한강로2가,1117012500
1379,목욕장업,11_44_01_P,3050000,3050000-202-1983-00520,폐업,2021-07-07,208.28,서울특별시 동대문구 휘경동 159,서울특별시 동대문구 휘경로14길 34,장수탕,...,0.0,0.0,N,None,127.063305,37.593575,휘경1동,1123072000,휘경동,1123010900
1420,목욕장업,11_44_01_P,3050000,3050000-202-1991-00547,폐업,2019-07-09,410.86,서울특별시 동대문구 용두동 756-3번지,서울특별시 동대문구 한빛로 41,안성탕,...,NaN,NaN,N,None,127.027226,37.578879,신설동,1123051500,용두동,1123010200
1506,목욕장업,11_44_01_P,3060000,3060000-202-1989-00277,폐업,2020-07-22,1020.67,서울특별시 중랑구 묵동 165,서울특별시 중랑구 중랑역로 262,동양보석사우나,...,0.0,0.0,N,None,127.077522,37.615417,묵1동,1126062000,묵동,1126010400
1599,목욕장업,11_44_01_P,3070000,3070000-202-2002-00014,폐업,2017-10-12,924.00,서울특별시 성북구 장위동 213-6번지,서울특별시 성북구 돌곶이로 196,수양탕,...,NaN,NaN,N,None,127.048094,37.617726,장위1동,1129076000,장위동,1129013800
1604,목욕장업,11_44_01_P,3070000,3070000-202-1998-00370,폐업,2017-01-16,453.04,서울특별시 성북구 길음동 1021-1번지,서울특별시 성북구 삼양로2길 19-8,길음맥반석대중탕,...,NaN,NaN,N,None,NaN,NaN,None,None,None,None
1700,목욕장업,11_44_01_P,3070000,3070000-202-1970-00278,폐업,2018-11-08,140.91,서울특별시 성북구 보문동1가 109-2번지,서울특별시 성북구 인촌로 5,동원탕,...,NaN,NaN,N,None,127.019920,37.585684,보문동,1129061000,보문동1가,1129013000
1708,목욕장업,11_44_01_P,3070000,3070000-202-2002-00013,폐업,2019-05-31,231.00,서울특별시 성북구 길음동 541-100번지,서울특별시 성북구 길음로1길 27,제일탕,...,NaN,NaN,N,None,127.023084,37.603351,길음1동,1129066000,길음동,1129013400
2065,목욕장업,11_44_01_P,3110000,3110000-202-1973-00229,폐업,2018-12-11,225.90,서울특별시 은평구 응암동 58-32번지,서울특별시 은평구 은평로18길 7-3,마을탕,...,NaN,NaN,N,None,NaN,NaN,None,None,None,None
2484,목욕장업,11_44_01_P,3150000,3150000-202-2002-00001,폐업,2017-07-30,390.60,서울특별시 강서구 가양동 54-8번지,서울특별시 강서구 양천로 398,스마일,...,NaN,NaN,N,None,126.845594,37.565453,가양1동,1150060300,등촌동,1150010200
2828,목욕장업,11_44_01_P,3180000,3180000-202-1987-00445,폐업,2017-03-02,220.00,서울특별시 영등포구 대림동 916-7번지,서울특별시 영등포구 디지털로74길 10,양지목욕탕,...,NaN,NaN,N,None,NaN,NaN,None,None,None,None
2922,목욕장업,11_44_01_P,3190000,3190000-202-1985-00176,폐업,2018-05-28,289.65,서울특별시 동작구 흑석동 164-1번지,서울특별시 동작구 흑석로 119,대호탕,...,NaN,NaN,N,None,NaN,NaN,None,None,None,None
2954,목욕장업,11_44_01_P,3190000,3190000-202-1987-00181,폐업,2023-09-18,213.38,서울특별시 동작구 흑석동 64-15,서울특별시 동작구 서달로10라길 3,양지목욕탕,...,0.0,0.0,N,None,126.963455,37.503675,흑석동,1159060500,흑석동,1159010500
2988,목욕장업,11_44_01_P,3200000,3200000-202-2000-00516,폐업,2023-05-31,579.89,서울특별시 관악구 신림동 304-1,서울특별시 관악구 호암로 529,우영대중사우나,...,0.0,0.0,N,None,126.931063,37.464795,삼성동,1162074500,신림동,1162010200
3071,목욕장업,11_44_01_P,3200000,3200000-202-1988-00494,폐업,2020-03-02,775.50,서울특별시 관악구 신림동 1647-12번지,서울특별시 관악구 조원로11길 9,성진,...,NaN,NaN,N,None,126.906758,37.483938,조원동,1162072500,신림동,1162010200
3178,목욕장업,11_44_01_P,3210000,3210000-202-1979-00001,폐업,2018-07-31,158.64,서울특별시 서초구 방배동 961-10번지,서울특별시 서초구 방배중앙로9길 35-7,금수탕,...,NaN,NaN,N,None,126.988887,37.484131,방배2동,1165061000,방배동,1165010100
3251,목욕장업,11_44_01_P,3210000,3210000-202-2002-00016,폐업,2022-01-25,1434.55,서울특별시 서초구 잠원동 52-2,서울특별시 서초구 잠원로14길 48,호박보석사우나,...,0.0,0.0,N,None,127.013737,37.517110,잠원동,1165054000,잠원동,1165010600
3696,목욕장업,11_44_01_P,3230000,3230000-202-2002-00008,폐업,2020-06-09,660.00,서울특별시 송파구 문정동 139-15번지,서울특별시 송파구 송이로31길 36,애림목욕탕,...,NaN,NaN,N,None,127.134376,37.490286,장지동,1171064600,문정동,1171010800
3876,목욕장업,11_44_01_P,3240000,3240000-202-1984-00190,폐업,2017-09-28,327.70,서울특별시 강동구 상일동 131-2번지,서울특별시 강동구 고덕로80길 117,서호탕,...,NaN,NaN,N,None,NaN,NaN,None,None,None,None
3912,목욕장업,11_44_01_P,3240000,3240000-202-2000-00005,폐업,2017-02-23,349.67,서울특별시 강동구 암사동 514-55번지,서울특별시 강동구 상암로4길 52,남양,...,NaN,NaN,N,None,NaN,NaN,None,None,None,None

In [79]:
data

,개방서비스명,개방서비스아이디,개방자치단체코드,관리번호,상세영업상태명,폐업일자,소재지면적,소재지전체주소,도로명전체주소,사업장명,...,여성종사자수,남성종사자수,다중이용업소여부,표준도로명주소,lon,lat,행정동,행정동코드,법정동명,법정동코드
0,목욕장업,11_44_01_P,3000000,3000000-202-2019-00001,영업,NaT,233.95,서울특별시 종로구 원남동 49-17번지,서울특별시 종로구 율곡로 180,오라카이 대학로 호텔,...,0.0,0.0,N,서울특별시 종로구 율곡로 180 (원남동),126.998766,37.575725,종로1.2.3.4가동,1111061500,원남동,1111015900
1,목욕장업,11_44_01_P,3000000,3000000-202-2024-00001,영업,NaT,2089.91,서울특별시 종로구 창신동 328-18,서울특별시 종로구 지봉로 19,스파렉스,...,0.0,0.0,N,서울특별시 종로구 지봉로 19 (창신동),127.015208,37.571758,창신1동,1111067000,창신동,1111017400
2,목욕장업,11_44_01_P,3000000,3000000-202-1970-00392,영업,NaT,262.26,서울특별시 종로구 통인동 147-4번지,서울특별시 종로구 자하문로 35-6,인왕탕,...,NaN,NaN,N,서울특별시 종로구 자하문로 35-6 (통인동),126.970922,37.579146,청운효자동,1111051500,통인동,1111010800
3,목욕장업,11_44_01_P,3000000,3000000-202-1963-00410,영업,NaT,249.10,서울특별시 종로구 창신동 578-1,서울특별시 종로구 창신길 22,현대옥사우나,...,0.0,0.0,N,서울특별시 종로구 창신길 22 (창신동),127.011022,37.572620,창신2동,1111068000,창신동,1111017400
4,목욕장업,11_44_01_P,3000000,3000000-202-2003-00009,영업,NaT,1430.00,서울특별시 종로구 관훈동 197-28,서울특별시 종로구 인사동7길 12,백상대중탕,...,NaN,NaN,N,서울특별시 종로구 인사동7길 12 (관훈동),126.985212,37.573087,종로1.2.3.4가동,1111061500,관훈동,1111012800
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3896,목욕장업,11_44_01_P,3240000,3240000-202-2001-00013,폐업,2020-11-16,1980.00,서울특별시 강동구 천호동 410-105,서울특별시 강동구 진황도로 18,현대비전사우나,...,NaN,NaN,N,서울특별시 강동구 진황도로 5-1 (천호동),127.129055,37.539196,천호3동,1174062000,천호동,1174010900
3911,목욕장업,11_44_01_P,3240000,3240000-202-2000-00004,폐업,2018-09-27,161.16,서울특별시 강동구 암사동 421-23번지,서울특별시 강동구 구천면로 371-5,상원,...,NaN,NaN,N,서울특별시 강동구 구천면로 371-5 (암사동),127.140058,37.550888,암사1동,1174057000,암사동,1174010700
3912,목욕장업,11_44_01_P,3240000,3240000-202-2000-00005,폐업,2017-02-23,349.67,서울특별시 강동구 암사동 514-55번지,서울특별시 강동구 상암로4길 52,남양,...,NaN,NaN,N,None,NaN,NaN,None,None,None,None
3941,목욕장업,11_44_01_P,3240000,3240000-202-2001-00005,폐업,2022-06-13,822.98,서울특별시 강동구 성내동 549-4,서울특별시 강동구 성내로 52,퍼시픽,...,0.0,0.0,N,서울특별시 강동구 성내로 52 (성내동),127.125677,37.528287,성내1동,1174064000,성내동,1174010800
3949,목욕장업,11_44_01_P,3240000,3240000-202-2018-00002,폐업,2019-03-07,198.00,서울특별시 강동구 성내동 127-25번지,서울특별시 강동구 천호옛8길 11,성일목욕탕,...,0.0,0.0,N,서울특별시 강동구 천호옛8길 11 (성내동),127.124100,37.533365,성내2동,1174065000,성내동,1174010800

In [80]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1207 entries, 0 to 3949
Data columns (total 28 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   개방서비스명           1207 non-null   object
 1   개방서비스아이디         1207 non-null   object
 2   개방자치단체코드         1207 non-null   int64
 3   관리번호             1207 non-null   object
 4   상세영업상태명          1207 non-null   object
 5   폐업일자             542 non-null    datetime64[ns]
 6   소재지면적            1207 non-null   float64
 7   소재지전체주소          1207 non-null   object
 8   도로명전체주소          1207 non-null   object
 9   사업장명             1207 non-null   object
 10  최종수정시점           1207 non-null   object
 11  데이터갱신구분          1207 non-null   object
 12  데이터갱신일자          1207 non-null   object
 13  업태구분명            1207 non-null   object
 14  좌표정보x(epsg5174)  1192 non-null   float64
 15  좌표정보y(epsg5174)  1192 non-null   float64
 16  욕실수              1049 non-null   float64
 17  발한실여부            1207 non-null   object
 18  여성종사자수           661 non-null    float64
 19  남성종사자수           661 non-null    float64
 20  다중이용업소여부         1207 non-null   object
 21  표준도로명주소          1159 non-null   object
 22  lon              1197 non-null   float64
 23  lat              1197 non-null   float64
 24  행정동              1197 non-null   object
 25  행정동코드            1197 non-null   object
 26  법정동명             1197 non-null   object
 27  법정동코드            1197 non-null   object
dtypes: datetime64[ns](1), float64(8), int64(1), object(18)
memory usage: 273.5+ KB

In [42]:
# 셀1: 소재지전체주소 기반 표준화 ---------------------------------
import re, time, threading, requests, pandas as pd
from concurrent.futures import ThreadPoolExecutor, as_completed

assert 'data' in globals(), "data DataFrame이 필요합니다."
assert '소재지전체주소' in data.columns, "'소재지전체주소' 컬럼이 필요합니다."

JUSO_KEY = "devU01TX0FVVEgyMDI1MDgxMjE3MjIzMjExNjA2MjU="  # 행안부 도로명주소 API 키
JUSO_URL = "https://www.juso.go.kr/addrlink/addrLinkApi.do"
CONCURRENCY_JUSO = 12   # 행안부는 너무 높이면 느려짐(10~15 권장)
TIMEOUT = 7
MAX_RETRY = 2

# 주소 전처리
def norm_addr(s):
    if not isinstance(s, str): return None
    s = re.sub(r"\s+", " ", s.strip())
    return s if s else None
data['소재지_for_lookup'] = data['소재지전체주소'].map(norm_addr)

# 고유 주소만 병렬 호출
uniq_src = data['소재지_for_lookup'].dropna().unique().tolist()
std_cache, lock = {}, threading.Lock()

def juso_standardize(addr: str):
    if not addr: return addr, None
    with lock:
        if addr in std_cache:
            return addr, std_cache[addr]
    params = {
        'confmKey': JUSO_KEY, 'currentPage': 1, 'countPerPage': 1,
        'keyword': addr, 'resultType': 'json'
    }
    out = None
    for attempt in range(1, MAX_RETRY+2):
        try:
            r = requests.get(JUSO_URL, params=params, timeout=TIMEOUT)
            r.raise_for_status()
            jlist = r.json().get('results',{}).get('juso',[])
            out = jlist[0].get('roadAddr') if jlist else None
            break
        except Exception:
            if attempt == MAX_RETRY+1:
                out = None
            else:
                time.sleep(0.5*attempt)
    with lock:
        std_cache[addr] = out
    return addr, out

t0 = time.time()
with ThreadPoolExecutor(max_workers=CONCURRENCY_JUSO) as ex:
    futures = [ex.submit(juso_standardize, a) for a in uniq_src]
    for i, f in enumerate(as_completed(futures), 1):
        a, std = f.result()
        if i % 200 == 0 or i == len(futures):
            dt = time.time()-t0
            print(f"[표준화] {i}/{len(uniq_src)} | {i/max(dt,1):.1f} req/s")

# 표준도로명주소 생성
data['표준도로명주소'] = data['소재지_for_lookup'].map(lambda a: std_cache.get(a))
print("표준도로명주소 결측:", int(data['표준도로명주소'].isna().sum()), "/", len(data))
data[['소재지전체주소','표준도로명주소']].head()

[표준화] 200/1167 | 62.4 req/s
[표준화] 400/1167 | 63.5 req/s
[표준화] 600/1167 | 64.0 req/s
[표준화] 800/1167 | 64.2 req/s
[표준화] 1000/1167 | 64.2 req/s
[표준화] 1167/1167 | 63.7 req/s
표준도로명주소 결측: 78 / 1207

                 소재지전체주소                    표준도로명주소
0  서울특별시 종로구 원남동 49-17번지    서울특별시 종로구 율곡로 180 (원남동)
1   서울특별시 종로구 창신동 328-18     서울특별시 종로구 지봉로 19 (창신동)
2  서울특별시 종로구 통인동 147-4번지  서울특별시 종로구 자하문로 35-6 (통인동)
3    서울특별시 종로구 창신동 578-1     서울특별시 종로구 창신길 22 (창신동)
4   서울특별시 종로구 관훈동 197-28   서울특별시 종로구 인사동7길 12 (관훈동)

In [43]:
# 셀2: 표준주소 -> 좌표 -> 행정동 ----------------------------------
import threading
from concurrent.futures import ThreadPoolExecutor, as_completed

KAKAO_KEY = "d86a315467c1c7369d876fd654b23cd0"
ADDR_URL   = "https://dapi.kakao.com/v2/local/search/address.json"
REGION_URL = "https://dapi.kakao.com/v2/local/geo/coord2regioncode.json"
HEADERS = {"Authorization": f"KakaoAK {KAKAO_KEY}"}
CONCURRENCY = 25
TIMEOUT = 6
MAX_RETRY = 2

# --- 주소검색 -> 좌표 ---
addr_cache, addr_lock = {}, threading.Lock()

def geocode_one(addr: str):
    if not isinstance(addr, str) or not addr.strip():
        return addr, (None, None)
    with addr_lock:
        if addr in addr_cache:
            return addr, addr_cache[addr]
    params = {"query": addr}
    out = (None, None)
    for attempt in range(1, MAX_RETRY+2):
        try:
            r = requests.get(ADDR_URL, headers=HEADERS, params=params, timeout=TIMEOUT)
            r.raise_for_status()
            docs = r.json().get("documents", [])
            out = (float(docs[0]['x']), float(docs[0]['y'])) if docs else (None, None)
            break
        except Exception:
            if attempt == MAX_RETRY+1: out = (None, None)
            else: time.sleep(0.4*attempt)
    with addr_lock:
        addr_cache[addr] = out
    return addr, out

uniq_std = data['표준도로명주소'].dropna().unique().tolist()
t0 = time.time()
with ThreadPoolExecutor(max_workers=CONCURRENCY) as ex:
    futures = [ex.submit(geocode_one, a) for a in uniq_std]
    for i, f in enumerate(as_completed(futures), 1):
        if i % 200 == 0 or i == len(futures):
            dt = time.time()-t0
            print(f"[지오코딩] {i}/{len(uniq_std)} | {i/max(dt,1):.1f} req/s")

data['lon'] = data['표준도로명주소'].map(lambda a: addr_cache.get(a,(None,None))[0]).astype('float64')
data['lat'] = data['표준도로명주소'].map(lambda a: addr_cache.get(a,(None,None))[1]).astype('float64')
print("좌표 결측:", int(data['lon'].isna().sum()), "/", len(data))

# --- 좌표 -> 행정동 ---
rc_cache, rc_lock = {}, threading.Lock()

def region_one(pair):
    lon, lat = pair
    if pd.isna(lon) or pd.isna(lat):
        return pair, {"행정동":None,"행정동코드":None,"법정동명":None,"법정동코드":None}
    key = (float(lon), float(lat))
    with rc_lock:
        if key in rc_cache:
            return pair, rc_cache[key]
    params = {"x": key[0], "y": key[1]}
    out = {"행정동":None,"행정동코드":None,"법정동명":None,"법정동코드":None}
    for attempt in range(1, MAX_RETRY+2):
        try:
            r = requests.get(REGION_URL, headers=HEADERS, params=params, timeout=TIMEOUT)
            r.raise_for_status()
            docs = r.json().get("documents", [])
            h = next((d for d in docs if d.get('region_type')=='H'), None)
            b = next((d for d in docs if d.get('region_type')=='B'), None)
            out = {
                "행정동": (h or {}).get("region_3depth_name"),
                "행정동코드": (h or {}).get("code"),
                "법정동명": (b or {}).get("region_3depth_name"),
                "법정동코드": (b or {}).get("code"),
            }
            break
        except Exception:
            if attempt == MAX_RETRY+1: pass
            else: time.sleep(0.4*attempt)
    with rc_lock:
        rc_cache[key] = out
    return pair, out

pairs = pd.Series(list(zip(data['lon'], data['lat']))).dropna().unique().tolist()
t1 = time.time()
with ThreadPoolExecutor(max_workers=CONCURRENCY) as ex:
    futures = [ex.submit(region_one, p) for p in pairs]
    for i, f in enumerate(as_completed(futures), 1):
        if i % 300 == 0 or i == len(futures):
            dt = time.time()-t1
            print(f"[행정동 조회] {i}/{len(pairs)} | {i/max(dt,1):.1f} req/s")

tmp = data[['lon','lat']].apply(lambda r: rc_cache.get((r['lon'], r['lat']), {"행정동":None,"행정동코드":None,"법정동명":None,"법정동코드":None}), axis=1)
tmp = pd.json_normalize(tmp)
data[['행정동','행정동코드','법정동명','법정동코드']] = tmp[['행정동','행정동코드','법정동명','법정동코드']].values

print("총 건수:", len(data), " | 행정동 결측:", int(data['행정동'].isna().sum()))
display(data[['소재지전체주소','표준도로명주소','lon','lat','행정동']].head(10))

[지오코딩] 200/1056 | 200.0 req/s
[지오코딩] 400/1056 | 170.3 req/s
[지오코딩] 600/1056 | 150.3 req/s
[지오코딩] 800/1056 | 138.8 req/s
[지오코딩] 1000/1056 | 159.9 req/s
[지오코딩] 1056/1056 | 136.7 req/s
좌표 결측: 78 / 1207
[행정동 조회] 300/1057 | 147.0 req/s
[행정동 조회] 600/1057 | 142.0 req/s
[행정동 조회] 900/1057 | 135.3 req/s
[행정동 조회] 1057/1057 | 127.2 req/s
총 건수: 1207  | 행정동 결측: 78

,소재지전체주소,표준도로명주소,lon,lat,행정동
0,서울특별시 종로구 원남동 49-17번지,서울특별시 종로구 율곡로 180 (원남동),126.998718,37.575570,종로1.2.3.4가동
1,서울특별시 종로구 창신동 328-18,서울특별시 종로구 지봉로 19 (창신동),127.015202,37.571739,창신1동
2,서울특별시 종로구 통인동 147-4번지,서울특별시 종로구 자하문로 35-6 (통인동),126.970916,37.579161,청운효자동
3,서울특별시 종로구 창신동 578-1,서울특별시 종로구 창신길 22 (창신동),127.010972,37.572617,창신2동
4,서울특별시 종로구 관훈동 197-28,서울특별시 종로구 인사동7길 12 (관훈동),126.985219,37.573068,종로1.2.3.4가동
5,서울특별시 종로구 숭인동 55-6,서울특별시 종로구 지봉로 82 (숭인동),127.015684,37.577417,숭인1동
6,서울특별시 종로구 통인동 35-16,서울특별시 종로구 필운대로6길 3 (통인동),126.968806,37.580828,청운효자동
7,서울특별시 종로구 삼일대로30길 31,서울특별시 종로구 삼일대로30길 31 (익선동),126.989394,37.574407,종로1.2.3.4가동
8,서울특별시 종로구 명륜1가 10-16번지,서울특별시 종로구 명륜길 8 (명륜1가),126.996383,37.588121,혜화동
9,서울특별시 종로구 적선동 122-1번지,서울특별시 종로구 새문안로5가길 32 (적선동),126.973547,37.574907,사직동

In [25]:
# 셀 1: 준비/함수 --------------------------------------
import re, time, threading, requests, pandas as pd
from concurrent.futures import ThreadPoolExecutor, as_completed

# 필요: data DataFrame가 세션에 있음
assert 'data' in globals(), "data DataFrame이 필요해요."

# 카카오 키
KAKAO_KEY = "d86a315467c1c7369d876fd654b23cd0"

# 동시성/타임아웃 (원하면 조정)
CONCURRENCY = 25   # 20~30 권장
TIMEOUT = 6
MAX_RETRY = 2

# 0) 표준주소 컬럼 확인 (없으면 도로명>지번 중 하나를 선택해서 사용)
if '표준도로명주소' not in data.columns:
    def pick_address(row):
        for col in ['도로명전체주소','소재지전체주소']:
            v = row.get(col)
            if isinstance(v, str) and v.strip():
                return re.sub(r"\s+"," ", v.strip())
        return None
    data['표준도로명주소'] = data.apply(pick_address, axis=1)

# 1) 카카오 주소검색 → 좌표 (병렬)
ADDR_URL = "https://dapi.kakao.com/v2/local/search/address.json"
HEADERS = {"Authorization": f"KakaoAK {KAKAO_KEY}"}
addr_cache, addr_lock = {}, threading.Lock()

def geocode_one(addr: str):
    if not isinstance(addr, str) or not addr.strip():
        return addr, (None, None)
    with addr_lock:
        if addr in addr_cache:
            return addr, addr_cache[addr]
    params = {"query": addr}
    for attempt in range(1, MAX_RETRY+2):
        try:
            r = requests.get(ADDR_URL, headers=HEADERS, params=params, timeout=TIMEOUT)
            r.raise_for_status()
            docs = r.json().get("documents", [])
            out = (float(docs[0]["x"]), float(docs[0]["y"])) if docs else (None, None)
            with addr_lock:
                addr_cache[addr] = out
            return addr, out
        except Exception:
            if attempt == MAX_RETRY+1:
                with addr_lock:
                    addr_cache[addr] = (None, None)
                return addr, (None, None)
            time.sleep(0.4*attempt)

# 2) 좌표 → 행정동 (병렬)
REGION_URL = "https://dapi.kakao.com/v2/local/geo/coord2regioncode.json"
rc_cache, rc_lock = {}, threading.Lock()

def region_one(pair):
    lon, lat = pair
    if pd.isna(lon) or pd.isna(lat):
        return pair, {"행정동":None,"행정동코드":None,"법정동명":None,"법정동코드":None}
    key = (float(lon), float(lat))
    with rc_lock:
        if key in rc_cache:
            return pair, rc_cache[key]
    params = {"x": key[0], "y": key[1]}
    for attempt in range(1, MAX_RETRY+2):
        try:
            r = requests.get(REGION_URL, headers=HEADERS, params=params, timeout=TIMEOUT)
            r.raise_for_status()
            docs = r.json().get("documents", [])
            h = next((d for d in docs if d.get('region_type')=='H'), None)
            b = next((d for d in docs if d.get('region_type')=='B'), None)
            out = {
                "행정동": (h or {}).get("region_3depth_name"),
                "행정동코드": (h or {}).get("code"),
                "법정동명": (b or {}).get("region_3depth_name"),
                "법정동코드": (b or {}).get("code"),
            }
            with rc_lock:
                rc_cache[key] = out
            return pair, out
        except Exception:
            if attempt == MAX_RETRY+1:
                out = {"행정동":None,"행정동코드":None,"법정동명":None,"법정동코드":None}
                with rc_lock:
                    rc_cache[key] = out
                return pair, out
            time.sleep(0.4*attempt)

In [26]:
# 셀 2: 실행 -------------------------------------------
# A. 표준주소 → 좌표
uniq_std = data['표준도로명주소'].dropna().unique().tolist()
t0 = time.time()
with ThreadPoolExecutor(max_workers=CONCURRENCY) as ex:
    futures = [ex.submit(geocode_one, a) for a in uniq_std]
    for i, f in enumerate(as_completed(futures), 1):
        a, xy = f.result()
        # addr_cache는 함수 내부에서 이미 갱신됨
        if i % 200 == 0 or i == len(futures):
            dt = time.time() - t0
            print(f"[지오코딩] {i}/{len(uniq_std)} | {i/max(dt,1):.1f} req/s")

data['lon'] = data['표준도로명주소'].map(lambda a: addr_cache.get(a, (None,None))[0]).astype('float64')
data['lat'] = data['표준도로명주소'].map(lambda a: addr_cache.get(a, (None,None))[1]).astype('float64')
print("좌표 결측:", int(data['lon'].isna().sum()), "/", len(data))

# B. 좌표 → 행정동
pairs = pd.Series(list(zip(data['lon'], data['lat']))).dropna().unique().tolist()
t1 = time.time()
with ThreadPoolExecutor(max_workers=CONCURRENCY) as ex:
    futures = [ex.submit(region_one, p) for p in pairs]
    for i, f in enumerate(as_completed(futures), 1):
        p, out = f.result()
        # rc_cache는 함수 내부에서 이미 갱신됨
        if i % 300 == 0 or i == len(futures):
            dt = time.time() - t1
            print(f"[행정동 조회] {i}/{len(pairs)} | {i/max(dt,1):.1f} req/s")

tmp = data[['lon','lat']].apply(lambda r: rc_cache.get((r['lon'], r['lat']), {"행정동":None,"행정동코드":None,"법정동명":None,"법정동코드":None}), axis=1)
tmp = pd.json_normalize(tmp)
data[['행정동','행정동코드','법정동명','법정동코드']] = tmp[['행정동','행정동코드','법정동명','법정동코드']].values

print("총 건수:", len(data))
print("행정동 결측:", int(data['행정동'].isna().sum()))
display(data[['표준도로명주소','lon','lat','행정동']].head(10))

[지오코딩] 200/1066 | 200.0 req/s
[지오코딩] 400/1066 | 181.9 req/s
[지오코딩] 600/1066 | 154.2 req/s
[지오코딩] 800/1066 | 142.7 req/s
[지오코딩] 1000/1066 | 136.6 req/s
[지오코딩] 1066/1066 | 121.5 req/s
좌표 결측: 71 / 1207
[행정동 조회] 300/1067 | 153.0 req/s
[행정동 조회] 600/1067 | 115.2 req/s
[행정동 조회] 900/1067 | 126.1 req/s
[행정동 조회] 1067/1067 | 121.6 req/s
총 건수: 1207
행정동 결측: 71

                      표준도로명주소         lon        lat          행정동
0     서울특별시 종로구 율곡로 180 (원남동)  126.998718  37.575570  종로1.2.3.4가동
1      서울특별시 종로구 지봉로 19 (창신동)  127.015202  37.571739         창신1동
2   서울특별시 종로구 자하문로 35-6 (통인동)  126.970916  37.579161        청운효자동
3      서울특별시 종로구 창신길 22 (창신동)  127.010972  37.572617         창신2동
4    서울특별시 종로구 인사동7길 12 (관훈동)  126.985219  37.573068  종로1.2.3.4가동
5      서울특별시 종로구 지봉로 82 (숭인동)  127.015684  37.577417         숭인1동
6    서울특별시 종로구 필운대로6길 3 (통인동)  126.968806  37.580828        청운효자동
7  서울특별시 종로구 삼일대로30길 31 (익선동)  126.989394  37.574407  종로1.2.3.4가동
8      서울특별시 종로구 명륜길 8 (명륜1가)  126.996383  37.588121          혜화동
9  서울특별시 종로구 새문안로5가길 32 (적선동)  126.973547  37.574907          사직동

In [27]:
# === 주소 & 행정동 비교 리포트 만들기 ===
import re
import pandas as pd

# 1) 동명 간이 추출 함수 (주소 문자열 -> '...동')
def guess_dong(s: str):
    if not isinstance(s, str):
        return None
    s = re.sub(r"\s+", " ", s.strip())
    # (1) '구 xxx동' 패턴 우선
    m = re.search(r"구\s*([가-힣0-9]+동)", s)
    if m:
        return m.group(1)
    # (2) 'xxx동 숫자' / 'xxx동-' / 'xxx동(' 등 뒤에 번지/호가 오는 패턴
    m = re.search(r"([가-힣0-9]+동)(?=\s*\d|[-(])", s)
    if m:
        return m.group(1)
    # (3) 단순 'xxx동' 존재
    m = re.search(r"([가-힣0-9]+동)", s)
    return m.group(1) if m else None

# 2) 비교용 컬럼들 생성 (원본 주소 2종 + 표준주소)
cmp = data.copy()

cmp['소재지_동(추정)']   = cmp['소재지전체주소'].map(guess_dong)
cmp['도로명_동(추정)']   = cmp['도로명전체주소'].map(guess_dong)
cmp['표준주소_동(추정)'] = cmp['표준도로명주소'].map(guess_dong)

# 3) 매칭 플래그
cmp['match(소재지vs행정동)'] = (cmp['소재지_동(추정)'].fillna('') == cmp['행정동'].fillna(''))
cmp['match(도로명vs행정동)'] = (cmp['도로명_동(추정)'].fillna('') == cmp['행정동'].fillna(''))
cmp['match(표준vs행정동)']   = (cmp['표준주소_동(추정)'].fillna('') == cmp['행정동'].fillna(''))

# 4) 리뷰 필요 행: 행정동 결측 또는 세 매칭 중 하나라도 불일치
cmp['리뷰필요'] = cmp['행정동'].isna() | (~cmp['match(소재지vs행정동)']) | (~cmp['match(도로명vs행정동)']) | (~cmp['match(표준vs행정동)'])

# 5) 최종 리포트 뷰(주요 컬럼 정리)
report_cols = [
    '소재지전체주소','도로명전체주소','표준도로명주소',
    '소재지_동(추정)','도로명_동(추정)','표준주소_동(추정)',
    '행정동','행정동코드','법정동명','법정동코드',
    'lon','lat',
    'match(소재지vs행정동)','match(도로명vs행정동)','match(표준vs행정동)','리뷰필요'
]
report = cmp[report_cols].copy()

# 6) 저장(전체/불일치 Only)
report.to_csv('행정동_비교리포트_전체.csv', index=False, encoding='utf-8-sig')
report[report['리뷰필요']].to_csv('행정동_비교리포트_불일치.csv', index=False, encoding='utf-8-sig')

print("리포트 생성 완료 ✅")
print("전체:", len(report), "행  |  불일치/검토:", report['리뷰필요'].sum(), "행")
display(report.head(10))

리포트 생성 완료 ✅
전체: 1207 행  |  불일치/검토: 1202 행

,소재지전체주소,도로명전체주소,표준도로명주소,소재지_동(추정),도로명_동(추정),표준주소_동(추정),행정동,행정동코드,법정동명,법정동코드,lon,lat,match(소재지vs행정동),match(도로명vs행정동),match(표준vs행정동),리뷰필요
0,서울특별시 종로구 원남동 49-17번지,서울특별시 종로구 율곡로 180,서울특별시 종로구 율곡로 180 (원남동),원남동,None,원남동,종로1.2.3.4가동,1111061500,원남동,1111015900,126.998718,37.575570,False,False,False,True
1,서울특별시 종로구 창신동 328-18,서울특별시 종로구 지봉로 19,서울특별시 종로구 지봉로 19 (창신동),창신동,None,창신동,창신1동,1111067000,창신동,1111017400,127.015202,37.571739,False,False,False,True
2,서울특별시 종로구 통인동 147-4번지,서울특별시 종로구 자하문로 35-6,서울특별시 종로구 자하문로 35-6 (통인동),통인동,None,통인동,청운효자동,1111051500,통인동,1111010800,126.970916,37.579161,False,False,False,True
3,서울특별시 종로구 창신동 578-1,서울특별시 종로구 창신길 22,서울특별시 종로구 창신길 22 (창신동),창신동,None,창신동,창신2동,1111068000,창신동,1111017400,127.010972,37.572617,False,False,False,True
4,서울특별시 종로구 관훈동 197-28,서울특별시 종로구 인사동7길 12,서울특별시 종로구 인사동7길 12 (관훈동),관훈동,인사동,인사동,종로1.2.3.4가동,1111061500,관훈동,1111012800,126.985219,37.573068,False,False,False,True
5,서울특별시 종로구 숭인동 55-6,서울특별시 종로구 지봉로 82,서울특별시 종로구 지봉로 82 (숭인동),숭인동,None,숭인동,숭인1동,1111070000,숭인동,1111017500,127.015684,37.577417,False,False,False,True
6,서울특별시 종로구 통인동 35-16,서울특별시 종로구 필운대로6길 3,서울특별시 종로구 필운대로6길 3 (통인동),통인동,None,통인동,청운효자동,1111051500,통인동,1111010800,126.968806,37.580828,False,False,False,True
7,서울특별시 종로구 삼일대로30길 31,서울특별시 종로구 삼일대로30길 31,서울특별시 종로구 삼일대로30길 31 (익선동),None,None,익선동,종로1.2.3.4가동,1111061500,익선동,1111013300,126.989394,37.574407,False,False,False,True
8,서울특별시 종로구 명륜1가 10-16번지,서울특별시 종로구 명륜길 8,서울특별시 종로구 명륜길 8 (명륜1가),None,None,None,혜화동,1111065000,명륜1가,1111017000,126.996383,37.588121,False,False,False,True
9,서울특별시 종로구 적선동 122-1번지,서울특별시 종로구 새문안로5가길 32,서울특별시 종로구 새문안로5가길 32 (적선동),적선동,None,적선동,사직동,1111053000,적선동,1111010700,126.973547,37.574907,False,False,False,True

In [23]:
missing = data[data['행정동'].isna()].copy()
print("결측 건수:", len(missing))
missing[['주소_for_lookup','표준도로명주소']].head()

# 필요하면 CSV로 저장
missing[['주소_for_lookup','표준도로명주소']].to_csv('행정동_결측_1차.csv', index=False, encoding='utf-8-sig')

결측 건수: 71

In [24]:
import re, time, requests, pandas as pd

KAKAO_KEY = "d86a315467c1c7369d876fd654b23cd0"
HEADERS = {"Authorization": f"KakaoAK {KAKAO_KEY}"}
ADDR_URL = "https://dapi.kakao.com/v2/local/search/address.json"

def kakao_geocode_addr(addr: str, timeout=6, max_retry=2):
    if not isinstance(addr, str) or not addr.strip():
        return (None, None)
    params = {"query": addr}
    for attempt in range(1, max_retry+2):
        try:
            r = requests.get(ADDR_URL, headers=HEADERS, params=params, timeout=timeout)
            r.raise_for_status()
            docs = r.json().get("documents", [])
            if not docs: 
                return (None, None)
            d0 = docs[0]
            return (float(d0["x"]), float(d0["y"]))
        except Exception:
            if attempt == max_retry+1: 
                return (None, None)
            time.sleep(0.4*attempt)

# --- 2-1) 원본 주소로 재시도
mask = data['행정동'].isna()
re_xy = data.loc[mask, '주소_for_lookup'].map(kakao_geocode_addr)
data.loc[mask, 'lon'] = re_xy.map(lambda t: t[0]).astype('float64')
data.loc[mask, 'lat'] = re_xy.map(lambda t: t[1]).astype('float64')

# 좌표 얻은 것만 행정동 갱신
def kakao_regioncode(lon, lat):
    if pd.isna(lon) or pd.isna(lat):
        return {"행정동": None, "행정동코드": None}
    url = "https://dapi.kakao.com/v2/local/geo/coord2regioncode.json"
    params = {"x": float(lon), "y": float(lat)}
    for attempt in range(1, 3):
        try:
            r = requests.get(url, headers=HEADERS, params=params, timeout=6)
            r.raise_for_status()
            docs = r.json().get("documents", [])
            h = next((d for d in docs if d.get("region_type")=="H"), None)
            return {"행정동": (h or {}).get("region_3depth_name"),
                    "행정동코드": (h or {}).get("code")}
        except Exception:
            if attempt == 2:
                return {"행정동": None, "행정동코드": None}

upd = data.loc[mask, ['lon','lat']].apply(lambda r: kakao_regioncode(r['lon'], r['lat']), axis=1)
upd = pd.json_normalize(upd)
data.loc[mask, '행정동'] = upd['행정동'].values
data.loc[mask, '행정동코드'] = upd['행정동코드'].values

print("재시도(원본주소) 후 결측:", int(data['행정동'].isna().sum()))

재시도(원본주소) 후 결측: 71

In [53]:
# 결측은 NaN 유지, 나머지만 int 변환
data['여성종사자수'] = data['여성종사자수'].astype('Int64')
data['남성종사자수'] = data['남성종사자수'].astype('Int64')
data['욕실수'] = data['욕실수'].astype('Int64')

In [54]:
# 종사자수 계산 (결측은 0으로 처리)
data['종사자수'] = data[['여성종사자수', '남성종사자수']].fillna(0).sum(axis=1)
data.loc[(data['종사자수'].notna()) & (data['종사자수'] >= 1),['종사자수', '여성종사자수', '남성종사자수']]

      종사자수  여성종사자수  남성종사자수
61       4       2       2
62       2       0       2
81       2       0       2
88      17      10       7
118      4       2       2
129     12       5       7
130      3       1       2
131      1       1       0
187      2       2       0
197     40      20      20
240      1       1       0
261      2       1       1
282      2       1       1
284      1       1       0
416     16      11       5
424      2       1       1
431      4       2       2
448      2       1       1
450      4       2       2
570      5       0       5
605      1       0       1
620      1       0       1
995      2       1       1
2022     4       2       2
2023     7       4       3
2025    40      20      20
2573     3       2       1
2676     2       0       2
2747     7       5       2
2809     2       2       0
3120     5       4       1
3176     7       4       3
3717     1       0       1

In [55]:
data['상세영업상태명'].value_counts() # 2018-01-01 이후 폐업한 곳이 469

상세영업상태명
영업    665
폐업    542
Name: count, dtype: int64

In [56]:
data.loc[data['폐업일자'].notna(), ['폐업일자', '사업장명', '상세영업상태명']] # 2018년 이후 폐업

           폐업일자           사업장명 상세영업상태명
697  2021-08-04            세원탕      폐업
710  2025-04-07            문화탕      폐업
714  2017-01-31         현대스파밸리      폐업
730  2021-10-25    스파렉스24시불한증막      폐업
736  2024-04-01  국일관 황토 대중 목욕탕      폐업
...         ...            ...     ...
3896 2020-11-16        현대비전사우나      폐업
3911 2018-09-27             상원      폐업
3912 2017-02-23             남양      폐업
3941 2022-06-13            퍼시픽      폐업
3949 2019-03-07          성일목욕탕      폐업

[542 rows x 3 columns]

In [57]:
data['상세영업상태명'].value_counts()

상세영업상태명
영업    665
폐업    542
Name: count, dtype: int64

In [58]:
data['관리번호'].nunique()

1207

In [62]:
# data = data.drop(columns=['소재지전체주소'], axis=1)
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1207 entries, 0 to 3949
Data columns (total 22 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   개방서비스명           1207 non-null   object
 1   개방서비스아이디         1207 non-null   object
 2   개방자치단체코드         1207 non-null   int64
 3   관리번호             1207 non-null   object
 4   상세영업상태명          1207 non-null   object
 5   폐업일자             542 non-null    datetime64[ns]
 6   소재지면적            1207 non-null   float64
 7   소재지전체주소          1202 non-null   object
 8   도로명전체주소          1206 non-null   object
 9   사업장명             1207 non-null   object
 10  최종수정시점           1207 non-null   object
 11  데이터갱신구분          1207 non-null   object
 12  데이터갱신일자          1207 non-null   object
 13  업태구분명            1207 non-null   object
 14  좌표정보x(epsg5174)  1192 non-null   float64
 15  좌표정보y(epsg5174)  1192 non-null   float64
 16  욕실수              1049 non-null   Int64
 17  발한실여부            1207 non-null   object
 18  여성종사자수           661 non-null    Int64
 19  남성종사자수           661 non-null    Int64
 20  다중이용업소여부         1207 non-null   object
 21  종사자수             1207 non-null   Int64
dtypes: Int64(4), datetime64[ns](1), float64(3), int64(1), object(13)
memory usage: 221.6+ KB

In [63]:
data['욕실수'].value_counts()

욕실수
0     417
2     378
1      97
3      36
6      31
4      30
8      17
5      17
10      7
9       5
7       4
12      3
11      2
14      2
16      2
17      1
Name: count, dtype: Int64

In [64]:
data

,개방서비스명,개방서비스아이디,개방자치단체코드,관리번호,상세영업상태명,폐업일자,소재지면적,소재지전체주소,도로명전체주소,사업장명,...,데이터갱신일자,업태구분명,좌표정보x(epsg5174),좌표정보y(epsg5174),욕실수,발한실여부,여성종사자수,남성종사자수,다중이용업소여부,종사자수
0,목욕장업,11_44_01_P,3000000,3000000-202-2019-00001,영업,NaT,233.95,서울특별시 종로구 원남동 49-17번지 4층,"서울특별시 종로구 율곡로 180, 4층 (원남동)",오라카이 대학로 호텔,...,2019-08-24 02:22:10,공동탕업,199821.363678,452603.475535,0,N,0,0,N,0
1,목욕장업,11_44_01_P,3000000,3000000-202-2024-00001,영업,NaT,2089.91,서울특별시 종로구 창신동 328-18 시즌,"서울특별시 종로구 지봉로 19, 시즌 12,13층 (창신동)",스파렉스,...,2025-01-11 02:40:00,공동탕업,201273.887782,452163.292543,8,Y,0,0,N,0
2,목욕장업,11_44_01_P,3000000,3000000-202-1970-00392,영업,NaT,262.26,서울특별시 종로구 통인동 147-4번지,서울특별시 종로구 자하문로 35-6 (통인동),인왕탕,...,2018-08-31 23:59:59,공동탕업,197361.848626,452983.593504,<NA>,N,<NA>,<NA>,N,0
3,목욕장업,11_44_01_P,3000000,3000000-202-1963-00410,영업,NaT,249.10,서울특별시 종로구 창신동 578-1,서울특별시 종로구 창신길 22 (창신동),현대옥사우나,...,2025-01-11 02:40:00,공동탕업,200904.097307,452258.945718,0,N,0,0,N,0
4,목욕장업,11_44_01_P,3000000,3000000-202-2003-00009,영업,NaT,1430.00,서울특별시 종로구 관훈동 197-28 백상빌딩 지하2층,"서울특별시 종로구 인사동7길 12 (관훈동,백상빌딩 지하2층)",백상대중탕,...,2024-04-25 02:40:00,공동탕업,198624.006469,452310.752961,<NA>,N,<NA>,<NA>,N,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3896,목욕장업,11_44_01_P,3240000,3240000-202-2001-00013,폐업,2020-11-16,1980.00,"서울특별시 강동구 천호동 410-105 현대프라자상가 지1,2층","서울특별시 강동구 진황도로 18 (천호동,현대프라자상가 지층)",현대비전사우나,...,2020-11-18 02:40:00,공동탕업+찜질시설서비스영업,211336.172452,448556.794492,2,Y,<NA>,<NA>,N,0
3911,목욕장업,11_44_01_P,3240000,3240000-202-2000-00004,폐업,2018-09-27,161.16,서울특별시 강동구 암사동 421-23번지,서울특별시 강동구 구천면로 371-5 (암사동),상원,...,2018-09-27 23:59:59,공동탕업,212306.755356,449855.853977,2,Y,<NA>,<NA>,N,0
3912,목욕장업,11_44_01_P,3240000,3240000-202-2000-00005,폐업,2017-02-23,349.67,서울특별시 강동구 암사동 514-55번지,서울특별시 강동구 상암로4길 52 (암사동),남양,...,2018-08-31 23:59:59,공동탕업,NaN,NaN,2,Y,<NA>,<NA>,N,0
3941,목욕장업,11_44_01_P,3240000,3240000-202-2001-00005,폐업,2022-06-13,822.98,서울특별시 강동구 성내동 549-4,서울특별시 강동구 성내로 52 (성내동),퍼시픽,...,2022-06-15 02:40:00,공동탕업,211039.290221,447345.670673,2,Y,0,0,N,0
3949,목욕장업,11_44_01_P,3240000,3240000-202-2018-00002,폐업,2019-03-07,198.00,서울특별시 강동구 성내동 127-25번지,서울특별시 강동구 천호옛8길 11 (성내동),성일목욕탕,...,2019-03-09 02:40:00,공동탕업,210899.162873,447909.072217,6,N,0,0,N,0

In [65]:
data['데이터갱신구분'].value_counts()

데이터갱신구분
U    934
I    273
Name: count, dtype: int64

In [66]:
data = data.drop(['최종수정시점', '데이터갱신구분'], axis=1)
data

,개방서비스명,개방서비스아이디,개방자치단체코드,관리번호,상세영업상태명,폐업일자,소재지면적,소재지전체주소,도로명전체주소,사업장명,데이터갱신일자,업태구분명,좌표정보x(epsg5174),좌표정보y(epsg5174),욕실수,발한실여부,여성종사자수,남성종사자수,다중이용업소여부,종사자수
0,목욕장업,11_44_01_P,3000000,3000000-202-2019-00001,영업,NaT,233.95,서울특별시 종로구 원남동 49-17번지 4층,"서울특별시 종로구 율곡로 180, 4층 (원남동)",오라카이 대학로 호텔,2019-08-24 02:22:10,공동탕업,199821.363678,452603.475535,0,N,0,0,N,0
1,목욕장업,11_44_01_P,3000000,3000000-202-2024-00001,영업,NaT,2089.91,서울특별시 종로구 창신동 328-18 시즌,"서울특별시 종로구 지봉로 19, 시즌 12,13층 (창신동)",스파렉스,2025-01-11 02:40:00,공동탕업,201273.887782,452163.292543,8,Y,0,0,N,0
2,목욕장업,11_44_01_P,3000000,3000000-202-1970-00392,영업,NaT,262.26,서울특별시 종로구 통인동 147-4번지,서울특별시 종로구 자하문로 35-6 (통인동),인왕탕,2018-08-31 23:59:59,공동탕업,197361.848626,452983.593504,<NA>,N,<NA>,<NA>,N,0
3,목욕장업,11_44_01_P,3000000,3000000-202-1963-00410,영업,NaT,249.10,서울특별시 종로구 창신동 578-1,서울특별시 종로구 창신길 22 (창신동),현대옥사우나,2025-01-11 02:40:00,공동탕업,200904.097307,452258.945718,0,N,0,0,N,0
4,목욕장업,11_44_01_P,3000000,3000000-202-2003-00009,영업,NaT,1430.00,서울특별시 종로구 관훈동 197-28 백상빌딩 지하2층,"서울특별시 종로구 인사동7길 12 (관훈동,백상빌딩 지하2층)",백상대중탕,2024-04-25 02:40:00,공동탕업,198624.006469,452310.752961,<NA>,N,<NA>,<NA>,N,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3896,목욕장업,11_44_01_P,3240000,3240000-202-2001-00013,폐업,2020-11-16,1980.00,"서울특별시 강동구 천호동 410-105 현대프라자상가 지1,2층","서울특별시 강동구 진황도로 18 (천호동,현대프라자상가 지층)",현대비전사우나,2020-11-18 02:40:00,공동탕업+찜질시설서비스영업,211336.172452,448556.794492,2,Y,<NA>,<NA>,N,0
3911,목욕장업,11_44_01_P,3240000,3240000-202-2000-00004,폐업,2018-09-27,161.16,서울특별시 강동구 암사동 421-23번지,서울특별시 강동구 구천면로 371-5 (암사동),상원,2018-09-27 23:59:59,공동탕업,212306.755356,449855.853977,2,Y,<NA>,<NA>,N,0
3912,목욕장업,11_44_01_P,3240000,3240000-202-2000-00005,폐업,2017-02-23,349.67,서울특별시 강동구 암사동 514-55번지,서울특별시 강동구 상암로4길 52 (암사동),남양,2018-08-31 23:59:59,공동탕업,NaN,NaN,2,Y,<NA>,<NA>,N,0
3941,목욕장업,11_44_01_P,3240000,3240000-202-2001-00005,폐업,2022-06-13,822.98,서울특별시 강동구 성내동 549-4,서울특별시 강동구 성내로 52 (성내동),퍼시픽,2022-06-15 02:40:00,공동탕업,211039.290221,447345.670673,2,Y,0,0,N,0
3949,목욕장업,11_44_01_P,3240000,3240000-202-2018-00002,폐업,2019-03-07,198.00,서울특별시 강동구 성내동 127-25번지,서울특별시 강동구 천호옛8길 11 (성내동),성일목욕탕,2019-03-09 02:40:00,공동탕업,210899.162873,447909.072217,6,N,0,0,N,0

In [67]:
data.to_csv('../data/processed/목용장업_인허가.csv', encoding='utf-8-sig', index=False)

## 2. 세탁업
- 빨래방, 세탁소, 운동화빨래방 등 의류 기타섬유제품이나 피혁제품등을 세탁하는 업소 정보
- '6110000_서울특별시_06_20_01_P_세탁업.csv'

In [68]:
data = pd.read_csv('../data/raw/add/6110000_CSV/6110000_서울특별시_06_20_01_P_세탁업.csv', encoding='cp949')
data

,번호,개방서비스명,개방서비스아이디,개방자치단체코드,관리번호,인허가일자,인허가취소일자,영업상태구분코드,영업상태명,상세영업상태코드,...,조건부허가신고사유,조건부허가시작일자,조건부허가종료일자,건물소유구분명,세탁기수,여성종사자수,남성종사자수,회수건조기수,다중이용업소여부,Unnamed: 44
0,1,세탁업,06_20_01_P,3000000,3000000-205-2023-00001,2023-06-28,NaN,1,영업/정상,1,...,NaN,NaN,NaN,NaN,1.0,0.0,0.0,0.0,N,NaN
1,2,세탁업,06_20_01_P,3000000,3000000-205-1998-01651,1998-05-19,NaN,1,영업/정상,1,...,NaN,NaN,NaN,NaN,0.0,NaN,NaN,0.0,N,NaN
2,3,세탁업,06_20_01_P,3000000,3000000-205-2003-00020,2003-10-21,NaN,1,영업/정상,1,...,NaN,NaN,NaN,NaN,0.0,NaN,NaN,0.0,N,NaN
3,4,세탁업,06_20_01_P,3000000,3000000-205-2004-00003,2004-08-31,NaN,1,영업/정상,1,...,NaN,NaN,NaN,NaN,0.0,NaN,NaN,0.0,N,NaN
4,5,세탁업,06_20_01_P,3000000,3000000-205-2004-00001,2004-06-01,NaN,1,영업/정상,1,...,NaN,NaN,NaN,NaN,0.0,NaN,NaN,0.0,N,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15291,15292,세탁업,06_20_01_P,3240000,3240000-205-2021-00005,2021-04-29,NaN,3,폐업,2,...,NaN,NaN,NaN,임대,0.0,0.0,0.0,0.0,N,NaN
15292,15293,세탁업,06_20_01_P,3240000,3240000-205-2022-00002,2022-10-04,NaN,3,폐업,2,...,NaN,NaN,NaN,임대,1.0,0.0,0.0,0.0,N,NaN
15293,15294,세탁업,06_20_01_P,3240000,3240000-205-2018-00007,2018-10-12,NaN,3,폐업,2,...,NaN,NaN,NaN,임대,2.0,0.0,0.0,0.0,N,NaN
15294,15295,세탁업,06_20_01_P,3240000,3240000-205-2021-00001,2021-01-12,NaN,3,폐업,2,...,NaN,NaN,NaN,임대,1.0,0.0,0.0,1.0,N,NaN
15295,15296,세탁업,06_20_01_P,3240000,3240000-205-2021-00002,2021-02-01,NaN,3,폐업,2,...,NaN,NaN,NaN,자가,1.0,0.0,0.0,0.0,N,NaN

In [69]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15296 entries, 0 to 15295
Data columns (total 45 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   번호               15296 non-null  int64
 1   개방서비스명           15296 non-null  object
 2   개방서비스아이디         15296 non-null  object
 3   개방자치단체코드         15296 non-null  int64
 4   관리번호             15296 non-null  object
 5   인허가일자            15296 non-null  object
 6   인허가취소일자          0 non-null      float64
 7   영업상태구분코드         15296 non-null  int64
 8   영업상태명            15296 non-null  object
 9   상세영업상태코드         15296 non-null  int64
 10  상세영업상태명          15296 non-null  object
 11  폐업일자             11876 non-null  object
 12  휴업시작일자           0 non-null      float64
 13  휴업종료일자           0 non-null      float64
 14  재개업일자            0 non-null      float64
 15  소재지전화            13573 non-null  object
 16  소재지면적            15280 non-null  float64
 17  소재지우편번호          15284 non-null  object
 18  소재지전체주소          15287 non-null  object
 19  도로명전체주소          7732 non-null   object
 20  도로명우편번호          7547 non-null   float64
 21  사업장명             15296 non-null  object
 22  최종수정시점           15296 non-null  object
 23  데이터갱신구분          15296 non-null  object
 24  데이터갱신일자          15296 non-null  object
 25  업태구분명            15296 non-null  object
 26  좌표정보x(epsg5174)  13473 non-null  float64
 27  좌표정보y(epsg5174)  13473 non-null  float64
 28  위생업태명            15296 non-null  object
 29  건물지상층수           10787 non-null  float64
 30  건물지하층수           9508 non-null   float64
 31  사용시작지상층          10141 non-null  float64
 32  사용끝지상층           7183 non-null   float64
 33  사용시작지하층          7104 non-null   float64
 34  사용끝지하층           4127 non-null   float64
 35  조건부허가신고사유        6 non-null      object
 36  조건부허가시작일자        3 non-null      float64
 37  조건부허가종료일자        3 non-null      float64
 38  건물소유구분명          2977 non-null   object
 39  세탁기수             5755 non-null   float64
 40  여성종사자수           3212 non-null   float64
 41  남성종사자수           3212 non-null   float64
 42  회수건조기수           5375 non-null   float64
 43  다중이용업소여부         15296 non-null  object
 44  Unnamed: 44      0 non-null      float64
dtypes: float64(21), int64(4), object(20)
memory usage: 5.3+ MB

In [70]:
data.columns

Index(['번호', '개방서비스명', '개방서비스아이디', '개방자치단체코드', '관리번호', '인허가일자', '인허가취소일자',
       '영업상태구분코드', '영업상태명', '상세영업상태코드', '상세영업상태명', '폐업일자', '휴업시작일자', '휴업종료일자',
       '재개업일자', '소재지전화', '소재지면적', '소재지우편번호', '소재지전체주소', '도로명전체주소', '도로명우편번호',
       '사업장명', '최종수정시점', '데이터갱신구분', '데이터갱신일자', '업태구분명', '좌표정보x(epsg5174)',
       '좌표정보y(epsg5174)', '위생업태명', '건물지상층수', '건물지하층수', '사용시작지상층', '사용끝지상층',
       '사용시작지하층', '사용끝지하층', '조건부허가신고사유', '조건부허가시작일자', '조건부허가종료일자', '건물소유구분명',
       '세탁기수', '여성종사자수', '남성종사자수', '회수건조기수', '다중이용업소여부', 'Unnamed: 44'],
      dtype='object')

In [71]:
data[[ '영업상태구분코드', '영업상태명', '상세영업상태코드', '상세영업상태명', '업태구분명', '위생업태명']]

       영업상태구분코드  영업상태명  상세영업상태코드 상세영업상태명     업태구분명     위생업태명
0             1  영업/정상         1      영업      빨래방업      빨래방업
1             1  영업/정상         1      영업     일반세탁업     일반세탁업
2             1  영업/정상         1      영업     일반세탁업     일반세탁업
3             1  영업/정상         1      영업     일반세탁업     일반세탁업
4             1  영업/정상         1      영업     일반세탁업     일반세탁업
...         ...    ...       ...     ...       ...       ...
15291         3     폐업         2      폐업  운동화전문세탁업  운동화전문세탁업
15292         3     폐업         2      폐업     일반세탁업     일반세탁업
15293         3     폐업         2      폐업      빨래방업      빨래방업
15294         3     폐업         2      폐업     일반세탁업     일반세탁업
15295         3     폐업         2      폐업     일반세탁업     일반세탁업

[15296 rows x 6 columns]

In [72]:
data['위생업태명'].value_counts()

위생업태명
일반세탁업       14753
빨래방업          290
운동화전문세탁업      193
세탁업 기타         60
Name: count, dtype: int64

In [73]:
### 컬럼 제거
'''
'번호','인허가일자', '인허가취소일자', '영업상태구분코드', '영업상태명', '상세영업상태코드', 
'휴업시작일자', '휴업종료일자', '재개업일자', '소재지전화', '최종수정시점', '데이터갱신구분', '위생업태명', '건물지상층수', 
'건물지하층수', '사용시작지상층', '사용끝지상층','사용시작지하층', '사용끝지하층', 
'조건부허가신고사유', '조건부허가시작일자', '조건부허가종료일자', '건물소유구분명','Unnamed: 44'
'''

data = data.drop(['번호','인허가일자', '인허가취소일자', '영업상태구분코드', '영업상태명', '상세영업상태코드', 
                  '휴업시작일자', '휴업종료일자', '재개업일자', '소재지전화', '최종수정시점', '데이터갱신구분', '위생업태명', '건물지상층수', 
                  '건물지하층수', '사용시작지상층', '사용끝지상층','사용시작지하층', '사용끝지하층', 
                  '조건부허가신고사유', '조건부허가시작일자', '조건부허가종료일자', '건물소유구분명','Unnamed: 44'],
                  axis=1)

data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15296 entries, 0 to 15295
Data columns (total 21 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   개방서비스명           15296 non-null  object
 1   개방서비스아이디         15296 non-null  object
 2   개방자치단체코드         15296 non-null  int64
 3   관리번호             15296 non-null  object
 4   상세영업상태명          15296 non-null  object
 5   폐업일자             11876 non-null  object
 6   소재지면적            15280 non-null  float64
 7   소재지우편번호          15284 non-null  object
 8   소재지전체주소          15287 non-null  object
 9   도로명전체주소          7732 non-null   object
 10  도로명우편번호          7547 non-null   float64
 11  사업장명             15296 non-null  object
 12  데이터갱신일자          15296 non-null  object
 13  업태구분명            15296 non-null  object
 14  좌표정보x(epsg5174)  13473 non-null  float64
 15  좌표정보y(epsg5174)  13473 non-null  float64
 16  세탁기수             5755 non-null   float64
 17  여성종사자수           3212 non-null   float64
 18  남성종사자수           3212 non-null   float64
 19  회수건조기수           5375 non-null   float64
 20  다중이용업소여부         15296 non-null  object
dtypes: float64(8), int64(1), object(12)
memory usage: 2.5+ MB

In [74]:
data['폐업일자'] = pd.to_datetime(data['폐업일자'], errors='coerce')

# 폐업일자가 있고 & 2017-01-01 이전인 경우 제거
mask_drop = data['폐업일자'].notna() & (data['폐업일자'] < pd.Timestamp('2017-01-01'))

data = data[~mask_drop]
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 6328 entries, 0 to 15295
Data columns (total 21 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   개방서비스명           6328 non-null   object
 1   개방서비스아이디         6328 non-null   object
 2   개방자치단체코드         6328 non-null   int64
 3   관리번호             6328 non-null   object
 4   상세영업상태명          6328 non-null   object
 5   폐업일자             2908 non-null   datetime64[ns]
 6   소재지면적            6322 non-null   float64
 7   소재지우편번호          6321 non-null   object
 8   소재지전체주소          6322 non-null   object
 9   도로명전체주소          6264 non-null   object
 10  도로명우편번호          6202 non-null   float64
 11  사업장명             6328 non-null   object
 12  데이터갱신일자          6328 non-null   object
 13  업태구분명            6328 non-null   object
 14  좌표정보x(epsg5174)  6256 non-null   float64
 15  좌표정보y(epsg5174)  6256 non-null   float64
 16  세탁기수             4224 non-null   float64
 17  여성종사자수           2663 non-null   float64
 18  남성종사자수           2662 non-null   float64
 19  회수건조기수           4060 non-null   float64
 20  다중이용업소여부         6328 non-null   object
dtypes: datetime64[ns](1), float64(8), int64(1), object(11)
memory usage: 1.1+ MB

In [75]:
# 결측은 NaN 유지, 나머지만 int 변환
data['여성종사자수'] = data['여성종사자수'].astype('Int64')
data['남성종사자수'] = data['남성종사자수'].astype('Int64')
data['세탁기수'] = data['세탁기수'].astype('Int64')

In [76]:
# 종사자수 계산 (결측은 0으로 처리)
data['종사자수'] = data[['여성종사자수', '남성종사자수']].fillna(0).sum(axis=1)
data.loc[(data['종사자수'].notna()) & (data['종사자수'] >= 1),['종사자수', '여성종사자수', '남성종사자수']]

       종사자수  여성종사자수  남성종사자수
15        1       0       1
17        1       0       1
66        1       0       1
169       1       0       1
202       2       1       1
...     ...     ...     ...
12458     2       1       1
12460     1       1       0
12540     1       1    <NA>
13075     1       0       1
14665     2       0       2

[154 rows x 3 columns]

In [77]:
data.loc[data['폐업일자'].notna(), ['폐업일자', '사업장명', '상세영업상태명']] # 2018년 이후 폐업

            폐업일자         사업장명 상세영업상태명
3421  2018-12-17          경북사      폐업
3425  2017-09-28           현대      폐업
3426  2022-11-14     동화컴퓨터크리닝      폐업
3431  2019-01-11          백영사      폐업
3434  2020-03-09          믿음사      폐업
...          ...          ...     ...
15291 2022-05-18      마마운동화세탁      폐업
15292 2025-02-25        우성세탁소      폐업
15293 2020-08-31    크린팩토리 명일점      폐업
15294 2023-06-07  미사세탁(고덕강일점)      폐업
15295 2024-01-31       동산수선세탁      폐업

[2908 rows x 3 columns]

In [78]:
data.loc[
    data['소재지전체주소'].isna() | data['도로명전체주소'].isna(), 
    ['사업장명','상세영업상태명', '소재지전체주소','도로명전체주소']
]

            사업장명 상세영업상태명                                   소재지전체주소 도로명전체주소
75            로얄      영업                     서울특별시 중구 회현동1가 29-5번지     NaN
119          중앙사      영업                      서울특별시 중구 신당동 403-9번지     NaN
123           현대      영업                   서울특별시 중구 만리동2가 200-26번지     NaN
126        일광크리닝      영업                    서울특별시 중구 신당동 236-456번지     NaN
135    웅이 아범 세탁방      영업                    서울특별시 중구 신당동 377-152번지     NaN
...          ...     ...                                       ...     ...
12102        미성사      폐업                      서울특별시 관악구 신림동 1656-0     NaN
12426       동아세탁      폐업  서울특별시 관악구 봉천동 1703번지 봉천동아아파트상가A동101,102호     NaN
12564        제일사      폐업                     서울특별시 관악구 신림동 808-494     NaN
13492     멋쟁이세탁소      폐업                  서울특별시 강남구 청담동 126-6번지 1층     NaN
13564      엔젤세탁소      폐업         서울특별시 강남구 신사동 415-0번지 미성(아)상가 B-1     NaN

[70 rows x 4 columns]