In [8]:
import pandas as pd
import numpy as np

In [9]:
df = pd.read_csv('../results/서울_AWS_merged_20230101_20250630.csv', encoding='utf-8-sig')
df

,지점,지점명,날짜,평균기온(°C),최저기온(°C),최고기온(°C),일강수량(mm),평균풍속(m/s),평균습도(%),최저습도(%),최고습도(%),습도표준편차,일_평균기온(°C),일_최저기온(°C),일_최고기온(°C),일_일강수량(mm),주소,위도,경도,행정구
0,400,강남,2023-01-01,1.000000,-2.3,4.8,0.0,1.565217,45.826087,24.0,75.0,17.724283,0.7,-2.9,4.9,0.0,서울특별시 강남구 일원동 580 탄천 물재생센터,37.49820,127.08162,강남구
1,400,강남,2023-01-02,-2.987500,-5.2,-0.5,0.0,1.500000,36.000000,26.0,43.0,5.461326,-3.3,-5.3,0.3,0.0,서울특별시 강남구 일원동 580 탄천 물재생센터,37.49820,127.08162,강남구
2,400,강남,2023-01-03,-3.695833,-8.3,0.7,0.0,1.216667,41.625000,22.0,65.0,13.977661,-3.7,-8.8,0.9,0.0,서울특별시 강남구 일원동 580 탄천 물재생센터,37.49820,127.08162,강남구
3,400,강남,2023-01-04,-1.366667,-6.2,4.1,0.0,0.941667,44.333333,26.0,58.0,9.535593,-1.3,-6.4,4.3,0.0,서울특별시 강남구 일원동 580 탄천 물재생센터,37.49820,127.08162,강남구
4,400,강남,2023-01-05,-1.970833,-6.2,3.5,0.0,0.683333,59.375000,36.0,81.0,14.067578,-2.0,-6.2,3.6,0.0,서울특별시 강남구 일원동 580 탄천 물재생센터,37.49820,127.08162,강남구
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24619,889,현충원,2025-06-26,22.300000,20.2,25.4,0.5,0.716667,81.958333,65.0,91.0,9.162680,22.3,20.2,26.2,0.5,서울특별시 동작구 현충로 210 국립서울현충원,37.50036,126.97652,동작구
24620,889,현충원,2025-06-27,24.845833,20.3,30.2,0.0,0.537500,73.041667,52.0,90.0,13.845354,25.2,20.1,31.4,0.0,서울특별시 동작구 현충로 210 국립서울현충원,37.50036,126.97652,동작구
24621,889,현충원,2025-06-28,26.408333,24.0,29.1,0.0,0.762500,79.333333,69.0,90.0,8.191547,26.5,23.9,29.8,0.0,서울특별시 동작구 현충로 210 국립서울현충원,37.50036,126.97652,동작구
24622,889,현충원,2025-06-29,27.479167,24.6,31.7,0.0,1.033333,71.291667,52.0,88.0,10.609590,27.2,23.9,32.3,0.0,서울특별시 동작구 현충로 210 국립서울현충원,37.50036,126.97652,동작구
24623,889,현충원,2025-06-30,27.991667,23.9,31.8,0.0,1.116667,70.416667,53.0,87.0,11.772912,28.1,23.8,32.4,0.0,서울특별시 동작구 현충로 210 국립서울현충원,37.50036,126.97652,동작구

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24624 entries, 0 to 24623
Data columns (total 20 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   지점          24624 non-null  int64
 1   지점명         24624 non-null  object
 2   날짜          24624 non-null  object
 3   평균기온(°C)    24624 non-null  float64
 4   최저기온(°C)    24624 non-null  float64
 5   최고기온(°C)    24624 non-null  float64
 6   일강수량(mm)    24624 non-null  float64
 7   평균풍속(m/s)   24624 non-null  float64
 8   평균습도(%)     24624 non-null  float64
 9   최저습도(%)     24624 non-null  float64
 10  최고습도(%)     24624 non-null  float64
 11  습도표준편차      24624 non-null  float64
 12  일_평균기온(°C)  24624 non-null  float64
 13  일_최저기온(°C)  24624 non-null  float64
 14  일_최고기온(°C)  24624 non-null  float64
 15  일_일강수량(mm)  24624 non-null  float64
 16  주소          24624 non-null  object
 17  위도          24624 non-null  float64
 18  경도          24624 non-null  float64
 19  행정구         24624 non-null  object
dtypes: float64(15), int64(1), object(4)
memory usage: 3.8+ MB

In [ ]:
df['날짜'] = pd.to_datetime(df['날짜'])
df['요일'] = df['날짜'].dt.weekday # 월요일 :0, 화:1, ..., 일:6

df[['날짜', '요일']]

              날짜  요일
0     2023-01-01   6
1     2023-01-02   0
2     2023-01-03   1
3     2023-01-04   2
4     2023-01-05   3
...          ...  ..
24619 2025-06-26   3
24620 2025-06-27   4
24621 2025-06-28   5
24622 2025-06-29   6
24623 2025-06-30   0

[24624 rows x 2 columns]